---
layout: default
title: Food Photography | Sof Kapa Photography
seo:
  title: Food, Drinks & Hospitality Photography | Melbourne
  description: Helping you create beautiful images to strengthen your business' online presence
  social_image: /assets/social_images/brand_social.jpg
  twitter_card:
  twitter_description:
  keywords: melbourne photographer, small business, brand, food, small events
  hide-from-google: false
---


<!-- BANNER SECTION -------------------------------------------------------------------->
<section class="banner-brands grid-spaceAround-middle bg-overlay bg-overlay-gradient border-b">

  <div>
      <h1 class="handwritten-text-xl sm-padded-2"> <span class="sketch-underline-lg">Food</span></h1> 
  </div>

</section>


<!-- CARDS SECTION --------------------------------------------------------------------->
<section class="padded-b-3 white bg-kapawhite">


<!-- SCROLLING GALLERY ----------------------------------------------------------------->
  <div class="flex flex-row flex-nowrap overflow-x-scroll padded-tb-3">

    <!-- Filter only projects that I want on this page -->
    {% assign brand-posts = site.posts | where: 'main_category', 'brands' %}
    <!-- Loop through projects -->
    {% for post in brand-posts %}

    <div class="w-1/4 md:w-1/3 sm:w-1/2 flex-shrink-0 margin-r-15 first:margin-l-6 card">

      <a href="{{ post.url }}" class="bg-image round-corners portrait relative shadow-sm" style="background-image: url('{{ post.cover_image }}');">
            <div class="absolute h-2/5 bottom-0 left-0 right-0 rounded-2xl bg-gradient-overlay"></div>
            <div class="absolute inset-0 flex stack space-between padding-15 text-center">

              <p class="tag">{{ post.location }}</p>
              <h3 class="white leading-none mb-0">{{ post.title }}</h3>
              <button href="{{ post.url }}" class="subtle-button cursor-pointer">VIEW GALLERY</button>

            </div>
      </a>

    </div>

  {% endfor %}

  </div>


</section>

<!-- FEATURED TEXT --------------------------------------------------------------------->
<section class="padded-md border-t-b bg-kapablue">
  <!-- <p class="sm-padded-md featured-bold text-center"> You know what makes your brand stand out from the crowd. <br> As a photographer I focus on capturing this essence <br> and convey it to your customers </p> -->
  <p class="sm-padded-md featured-bold text-center">You know what makes your brand stand out from the crowd.<br>Let's capture the <span class="sketch-underline-sm">unique atmosphere</span> your venue has to offer,<br> through natural <span class="sketch-underline-sm">storytelling</span>, and immersive <span class="sketch-underline-sm">details</span></p>
</section>


<!-- TARGET AUDIENCE ------------------------------------------------------------------->

<section class="padded-md grid" style="padding-bottom:8rem;">

  <h2 class="text-center col-12 padded-b-3">Who is this for</h2>

  <div class="col-6 border-b">
    <h2 class="kapa-featured handwritten-text" style="text-align: left;">Restaurants & Cafes</h2>
    <p>Elevate your website with mouthwatering images that attract customers</p>
  </div>
  <div class="col-6"></div>

  <div class="col-6"></div>
  <div class="col-6 border-b">
    <h2 class="kapa-featured handwritten-text" style="text-align: right;">Bars & Live Music Venues</h2>
    <p class="text-right">Capture the energy of your space, from crafted cocktails to unforgettable performances</p>
  </div>

  <div class="col-6 border-b">
    <h2 class="kapa-featured handwritten-text" style="text-align: left;">Chefs & Caterers</h2>
    <p>Highlight your craft with professional images for websites, social media, and marketing</p>
  </div>
  <div class="col-6"></div>

  <div class="col-6"></div>
  <div class="col-6 border-b">
    <h2 class="kapa-featured handwritten-text" style="text-align: right;">Hotels & Resorts</h2>
    <p class="text-right">Showcase your dining experiences and amenities to your future guests</p>
  </div>

  <div class="col-6 border-b">
    <h2 class="kapa-featured handwritten-text" style="text-align: left;">Farmers & Agricultural businesses</h2>
    <p>Highlight your commitment to quality and sustainability through compelling visual storytelling</p>
  </div>
  <div class="col-6"></div>

</section>


<!-- SUSTAINABILITY DREAM CLIENTS SECTION ----------------------------------------------->
<section class="grid tall-80 border-t-b">
    
  <div class="col-6_md-5_sm-12 eco-banner-food border-r">
  </div>

  <div class="col-6_md-7_sm-12-middle padded-lg">

          <p class="featured-thin padded-b-1">I’m passionate about working with brands that prioritize <span class="sketch-underline-sm">eco-friendly </span>practices.</p>
          <p class="featured-thin">If your brand is making a positive impact, I’d love to help tell your story through photography that resonates with <span class="sketch-underline-sm">conscious consumers!</span></p>

  </div>

</section>

<!-- CTA - BOOK NOW -------------------------------------------------------------------->
{% include book-cta.html %}



