---
layout: default
title: Food Photography | Sof Kapa Photography
cta_sentence: Make them wish they were there...
seo:
  title: Food, Drinks, Product & Hospitality Photography | Melbourne
  description: Soulful photography for Melbourne’s cafés, bars, events, makers and product-based brands. Capturing the flavour, energy, and craft behind your business.
  social_image: /assets/social_images/brand_social.jpg
  twitter_card:
  twitter_description:
  keywords: melbourne food photographer, hospitality photography, bar photography, restaurant photographer melbourne, event photography, small business branding, product photography
  hide-from-google: false
---


<!-- BANNER SECTION -------------------------------------------------------------------->
<section class="banner-brands grid-spaceAround-middle bg-overlay bg-overlay-gradient border-b">

  <div>
      <h1 class="handwritten-text-xl sm-padded-2"> <span class="sketch-underline-lg">Makers</span></h1>
      <h2 class="sub-heading padded-t-1">Food · Drinks · Events · Creatives · Products</h2> 
  </div>

</section>


<!-- CARDS SECTION --------------------------------------------------------------------->


<section class="scrolling-gallery">

<!-- 
  <p class="handwritten-text-featured padded-t-1 max-width-sm">
    Photography for tastemakers, artisans, and experience creators — from Melbourne chefs and crafters to event hosts and soulful product-based brands
  </p> -->

  <p class="handwritten-text-featured padded-sm  max-width-sm">
   If you're crafting something delicious, daring, or downright beautiful — and want it to look as good on camera as it does in person — you’re in the right place
  </p>

  <div class="scrolling-gallery__container padded-tb-3">
    {% assign food-posts = site.posts | where: 'main_category', 'food' %}
    {% for post in food-posts %}
      <div class="scrolling-gallery__card">
        <a href="{{ post.url }}"
           class="scrolling-gallery__image"
           style="background-image: url('{{ post.cover_image }}'); background-position: {{ post.bg_position | default: 'center' }};">
          
          <div class="scrolling-gallery__gradient"></div>
          
          <div class="scrolling-gallery__content">
            <p class="tag">{{ post.location }}</p>
            <h3 class="featured-text-bold">{{ post.title }}</h3>
            <p class="subtle-button">VIEW GALLERY</p>
          </div>
          
        </a>
      </div>
    {% endfor %}
  </div>

</section>

<!-- FEATURED TEXT --------------------------------------------------------------------->


<section class="padded-md border-t-b bg-kapablue">
  <!-- <p class="sm-padded-md featured-text-bold">From morning brews to golden hour clinks, quiet hands at work or vows shared in soft light — I photograph food, products, and intimate events so the <span class="sketch-underline-sm">atmosphere lingers beyond the frame</span></p> -->
  <p class="sm-padded-md featured-text-bold">I photograph the kind of <span class="sketch-underline-sm">moments people feel</span> before they even notice<br>The clatter of plates between lunch rushes. A pour that hits the light just right. A room on the cusp of applause. The energy of it <br>— that’s what I’m chasing</p>
</section>

<!-- SCROLLING BANNER -------------------------------------------------------------------->
{% include scrolling-banner.html %}


<!-- TARGET AUDIENCE ------------------------------------------------------------------->

<section class="padded-lg grid" style="padding-bottom:6rem; row-gap: 4rem;">

  <h2 class="text-center col-12 padded-tb-3">Who I Work With</h2>

  <div class="col-6 border-b step from-left">
    <h2 class="kapa-featured handwritten-text-featured" style="text-align: left;">Restaurants & Cafes</h2>
    <p class="padded-b-1 oblique">For menus that make mouths water and interiors worth the trip. Let’s make your next post do more than just sit pretty — let’s bring them through the door</p>
  </div>
  <div class="col-6"></div>

  <div class="col-6"></div>
  <div class="col-6 border-b step from-right">
    <h2 class="kapa-featured handwritten-text-featured" style="text-align: right;">Bars & Live Music Venues</h2>
    <p class="text-right padded-b-1 oblique">The mood. The movement. The magic when the lights dim. I photograph the vibe that keeps people coming back</p>
  </div>

  <div class="col-6 border-b step from-left">
    <h2 class="kapa-featured handwritten-text-featured" style="text-align: left;">Product-Based Brands</h2>
    <p class="padded-b-1 oblique">Show the craft, quality, and soul behind your product with scroll-stopping content for web, socials, and print</p>
  </div>
  <div class="col-6"></div>

  <div class="col-6"></div>
  <div class="col-6 border-b step from-right">
    <h2 class="kapa-featured handwritten-text-featured" style="text-align: right;">Event Hosts & Planners</h2>
    <p class="text-right padded-b-1 oblique">Preserve the energy of that one-of-a-kind gathering, whether it's a long lunch or launch of a new label</p>
  </div>

  <div class="col-6 border-b step from-left">
    <h2 class="kapa-featured handwritten-text-featured" style="text-align: left;">Artisans & Creatives</h2>
    <p class="padded-b-1 oblique">You pour your guts into what you do. I’ll photograph it so people can feel that too — tools, textures, and all</p>
  </div>
  <div class="col-6"></div>

  <div class="col-6"></div>
  <div class="col-6 border-b step from-right">
    <h2 class="kapa-featured handwritten-text-featured" style="text-align: right;">Chefs & Caterers</h2>
    <p class="text-right padded-b-1 oblique">From prep to plating — capture your culinary artistry for websites, PR features, and marketing assets</p>
  </div>

</section>


<!-- EXTRA ----------------------------------------------------------------------------->

<section class="padded-sm bg-light margin-b-3 grid-spaceAround-middle">

  <div class="col-8 border padded-sm padded-b-3 round-corners" style="box-shadow: 0 20px 25px -5px rgba(0,0,0,0.2),0 10px 10px -5px rgba(0,0,0,0.2);">


    <h2 class="text-center padded-b-1 white" style="font-size: 2rem;">What You Can Expect</h2>
    <p class="oblique text-center">- Professional food, product, or event photography tailored to your brand -</p>
    <p class="oblique text-center">- Fast turnaround, no drama, and file formats you can actually use -</p>
    <p class="oblique text-center">- Low-fuss sessions that feel more like a collaboration than a photoshoot -</p>
    <p class="oblique text-center">- Direction if you’re stuck, or happy to follow your lead if you know what you want -</p>
  
  </div>

</section>

<!-- CTA - BOOK NOW -------------------------------------------------------------------->
 
{% include book-cta.html %}

<!-- SUSTAINABILITY DREAM CLIENTS SECTION ----------------------------------------------->

<section class="tall-80 eco-banner-food grid-spaceAround-middle bg-overlay bg-overlay-gradient border-t-b">

  <div class="text-center max-width-sm white">

    <p class="featured-text-thin padded-b-1">I’m all in with <span class="sketch-underline-sm">businesses that care</span><br> — about the planet, their people, and what they put out into the world</span></p>
    <p class="featured-text-thin padded-b-1">If your values align with sustainability and making a real impact, I’m here to capture your story in a way that speaks powerfully to <span class="sketch-underline-sm">conscious consumers </span></p>

  </div>

</section>







