---
layout: default
title: Home | Sof Kapa Photography
seo:
  title: Sof Kapa Photography | Melbourne Photographer
  description: Melbourne based photographer specializing in brand, food, travel, street and lifestyle photography
  social_image:
  twitter_card:
  twitter_description:
  keywords: melbourne photographer, small business, brand, food, travel, lifestyle
  hide-from-google: false
---


<!-- This is the CARDS section --------------------------->

<section class="padded-1 grid-spaceAround">

    <!-- Card 1 -->
    <a href="/brandsandevents.html" class="col-4_sm-12 fade-container" style="padding: 0.5rem;">


        <div class="card fade-image bg-image square relative image-faded-sm" style="background-image:url(/assets/brands/lechat/moscowmule.jpg); background-position: 50% 45%;">
            <h3 class="absolute center show-sm">Brands & Events</h3>      
            <div class="fade-overlay hide-sm">                
                <h3 class="absolute center fade-text">Brands & Events</h3>
            </div>
        </div>


    </a>


    <!-- Card 2 -->
    <a href="/travelandstreet.html" class="col-4_sm-12 fade-container" style="padding: 0.5rem;">
        <div class="card fade-image bg-image square relative image-faded-sm" style="background-image:url(/assets/travel/MYANMAR/fisherman.jpg); background-position: 50% 45%;">
            <h3 class="absolute center show-sm">Travel & Street</h3>      
            <div class="fade-overlay hide-sm">                
                <h3 class="absolute center fade-text">Travel & Street</h3>
            </div>
        </div>
    </a>

    <!-- Card 3 -->
    <a href="/portraitandlifestyle.html" class="col-4_sm-12 fade-container" style="padding: 0.5rem;">
        <div class="card fade-image bg-image square relative image-faded-sm bg-piagonzosofa">
            <h3 class="absolute center show-sm">Portrait & Lifestyle</h3>      
            <div class="fade-overlay hide-sm">                
                <h3 class="absolute center fade-text">Portrait & Lifestyle</h3>
            </div>
        </div>
    </a>

</section>

<!-- This is the TEXT ABOUT section ----------------------> 
<section class="bg-lightorange padded-lg" id="about">

    <div class="grid-spaceAround text-justify sm-text-left">

        <div class="about-section col-5_md-9_sm-11">
            <h1 class="about-section">about me</h1>
            <p class="sm-padded text-sm">Hi, I’m Sof! A Czech-Portuguese photographer living in the land Down Under</p>
            <p class="sm-padded text-sm">My photography journey started with my passion for travel. When I was a kid my family and I moved to Cape Verde (Africa) for my dad's work and, since then, the desire to discover new places and cultures has never left me</p>
            <p class="text-sm">Somewhere along my travels and life abroad, I decided to pick up a camera, but it was only during my 2-year backpacking trip around this curiously unique country, Australia, that my camera became my most powerful storytelling tool. It pushes me to be more aware of my surroundings and helps me connect with people</p>
        </div>

        <div class="about-section col-5_md-9_sm-11">
            <p class="text-sm">Then covid hit and, like everyone else, I had to adapt. Traveling was not an option anymore so I started expanding my photography portfolio to venue and food photography, promoting the cafe I was working for at the time. I also took this time to learn how to code to be able to build this website from scratch</p>
            <p class="text-sm">Fast forward a few years, many traveled kilometers, and a series of nerve-racking lockdowns and you can now catch me using my camera to share travel and street stories, help people immortalize special moments in their lives, and brands showcase their full potential online</p>
            <div class="tall-10 show-md hide-sm"></div>
            <h1 class="about-section text-right padded-b-05">where</h1>
            <p class="text-right text-sm margin-b-05">You will find me at my homebase <span class="oblique">MELBOURNE</span></p>
            <p class="text-right text-sm">Get in touch at <a href="mailto:hello@sofkapa.com" class="link-in-text">hello@sofkapaphotography.com </a></p>
        </div>
    
    </div>

</section>




<!-- FEATURED PROJECTS ----------------------> 
<section class="padded-2 sm-padded-b-0">

    <h2 class="padded-md gray text-center">latest projects</h2>


        {% assign featured_posts = site.posts | where: 'featured', true %}

        {% for post in featured_posts limit:3 %}

    <div class="grid max-width-sm padded-1 sm-padded-3" style="margin: auto; padding-bottom: 4rem;">

        <div class="col-6_sm-12 ">
            <div class="bg-image square" style="background-image:url({{post.featured_image}})"></div>
        </div>
    
        <div class="col-6_sm-12-middle latest-projects" style="padding:1.2rem;">
            <h3 class="latest-projects-title"> {{ post.title }} </h3>
            <p class="latest-projects-text"> {{ post.description }} </p>
            <h3 class="location-tag md-padded-b-0"> {{ post.location }} </h3>
            <h3 class="category-tag md-padded-b-0"> {{ post.categories | join: ' | '}} </h3>
            <div class="padded-t-2">
                <a href="{{post.url}}" class="view-project-button">VIEW PROJECT</a>
            </div>

        </div>

    </div>


    {% endfor %}

</section>


<!-- This is the FORM  section --------------------------->
<section>

    <div class="lets-talk homepage">
        <h3 class="padded-b-2 sm-padded-b-0">let's talk!</h3>
        <p class="lets-talk">I wanna hear about your project and help you meet your needs</p>
    </div>

    {% include contact-form.html %}
</section>









