---
layout: default
title: Portrait Photography | Sof Kapa Photography
seo:
  title: Portrait Photography | Melbourne
  description: Helping you immortalize that special moment in your life - engagements, small weddings, pregnancy, birth, newborn, family, creatives
  social_image: /assets/social_images/portrait_social.jpg
  twitter_card:
  twitter_description:
  keywords: melbourne photographer, portrait, lifestyle, wedding, small ceremony, pregnancy, engagement, newborn, birth, creatives, artisans
  hide-from-google: false
---


<!-- BANNER SECTION ------------------------------------------------------------------
<section class="banner-portrait grid bg-overlay bg-overlay-gradient border-t-b">
    <div class="col-12-middle">
      <h1 class="category-text-title sm-padded-2"> PORTRAIT </h1> 
      <p class="category-text-p sm-padded-3"> While working on these intimate occasions, <br>I focus on capturing the greatness of a transient yet unforgettable moment of my subjects' lives<br>Whether it is self-love or love for another, the attention is always put towards the details that they'll want to remember and cherish forever</p>
    </div>
</section> -->

<!-- BANNER SECTION -------------------------------------------------------------------->
<section class="banner-portrait grid-spaceAround-middle bg-overlay bg-overlay-gradient border-t-b">

  <div>
      <h1 class="category-text-title sm-padded-2"> <span class="sketch-title">Portrait</span></h1> 
  </div>

</section>


<!-- CARDS SECTION --------------------------------------------------------------------->
<section class="padded-b-3 white bg-kapawhite">


<!-- SCROLLING GALLERY ------------------------------------------------------------------>
  <div class="flex flex-row flex-nowrap overflow-x-scroll padded-t-6">

    <!-- Filter only projects that I want on this page -->
    {% assign portrait-posts = site.posts | where: 'main_category', 'portrait' %}
    <!-- Loop through projects -->
    {% for post in portrait-posts %}

    <div class="w-1/4 md:w-1/3 sm:w-1/2 flex-shrink-0 margin-r-15 first:margin-l-6 round-corners card">

      <a href="{{ post.url }}" class="bg-image round portrait relative shadow-sm" style="background-image: url('{{ post.cover_image }}');">
            <div class="absolute h-2/5 bottom-0 left-0 right-0 rounded-2xl bg-gradient-overlay"></div>
            <div class="absolute inset-0 flex stack space-between padding-15 text-center">

              <p class="tag">{{ post.location }}</p>
              <h3 class="white leading-none mb-0">{{ post.title }} </h3>
              <button href="{{ post.url }}" class="gallery-button cursor-pointer">VIEW GALLERY</button>

            </div>
      </a>

    </div>

    {% endfor %}

  </div>

<!-- FEATURED TEXT ---------------------------------------------------------------------->
<section class="padded-md">
  <!-- <p class="sm-padded-md featured-text-bold text-center">While working on these intimate occasions,<br>I focus on capturing the greatness of a transient yet unforgettable moment of my subjects' lives<br>Whether it is self-love or love for another, the attention is always put towards the details that they'll want to remember and cherish forever</p> -->
  <p class="sm-padded-md featured-text-bold text-center">​Whether it's the joy of new family milestones,<br>the heartfelt moments of your intimate wedding,<br>or the intricacies of your skilled craft,<br>your <span class="sketch-underline">unique stories</span> deserve to be told.</p>
</section>


<!-- TARGET AUDIENCE -------------------------------------------------------------------->

<section class="padded-md grid" style="padding-bottom:8rem;">

  <h2 class="text-center col-12 padded-b-3">Who is this for</h2>

  <div class="col-6 border-b">
    <h2 class="kapa-featured handwritten-text" style="text-align: left;">Maternity & Newborn</h2>
    <p>Celebrate the beauty of pregnancy and welcome your little one with intimate, meaningful portraits</p>
  </div>
  <div class="col-6"></div>

  <div class="col-6"></div>
  <div class="col-6 border-b">
    <h2 class="kapa-featured handwritten-text" style="text-align: right;">Family & Special Milestones</h2>
    <p class="text-right">Create lasting memories of fleeting family moments with timeless photographs</p>
  </div>

  <div class="col-6 border-b">
    <h2 class="kapa-featured handwritten-text" style="text-align: left;">Intimate Weddings & Elopements</h2>
    <p>Document the raw emotion and unique moments of your special day</p>
  </div>
  <div class="col-6"></div>

  <div class="col-6"></div>
  <div class="col-6 border-b">
    <h2 class="kapa-featured handwritten-text" style="text-align: right;">Artisans & Creatives</h2>
    <p class="text-right">Showcase the artistry and details behind your craft</p>
  </div>

</section>


<!-- CTA - BOOK NOW --------------------------------------------------------------------->
{% include book-cta.html %}


</section>