/* ---------------- TEMPORARY STRUCTURE STYLES -------------------------------*/
/* section{
    padding: 0.5rem;
    border:1px solid rgb(240,240,240)
} */


/* html{border:none;} */

/* ---------------- CSS RESET ------------------------------------------------*/
*{ padding: 0;
    margin:0;
    box-sizing:border-box;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Override default Gridlex padding */
[class*="col-"], [class*="col_"], [class~="col"] {
    box-sizing: border-box;
    padding: 0;
    max-width: 100%;
  }

[class*=grid] {margin: 0;}

/* Automatically makes banners or other elements with overlay work */
section {position: relative;}



/* ---------------- COLOR VARIABLES ------------------------------------------*/
:root {
    --kapa-light:   #EDEDE9;
    --kapa-dark:    #4E4C4C;
    --kapa-blue:    #AAC7CB; 
    --kapa-featured:#FE654F;
    --dark-text:    #676767;
    --medium-text:  #8d8d8d;
    --light-text:   white;
    --featured-text:#d5bdaf;
    --dark:         #676767;
    --medium:       #8d8d8d;
    --light:        #c9c9c9;
    --featured:     #d5bdaf;
    --yellow:       #f5ebe0;
    --light-orange: #e3d5ca;
    --dark-orange:  #d5bdaf;
    --brown:        #d6ccc2;
    --blue:         #ccd2d8;
    --green:        #edede9;
}


.yellow         {color: #f5ebe0;}
.lightorange    {color: #e3d5ca;}
.darkorange     {color: #d5bdaf;}
.brown          {color: #d6ccc2;}
.blue           {color: #ccd2d8;}
.green          {color: #edede9;}

.white          {color: white;}
.gray           {color: #676767;}
.light          {color:#c9c9c9;}
.lightgray      {color:#8d8d8d}



/* ----------------- BODY STYLES ---------------------------------------------*/

body{
    /* border: none; */
    color:var(--dark-text);
    font-family: 'Open Sans', sans-serif;
    background-color: var(--kapa-light);
}
 
.border {
    padding: 0.5rem;
    border:1px solid #676767;
} 



/* ----------------- NEGATIVE SPACE / PADDING --------------------------------*/

/* CAPPED WIDTH */
.max-width-sm {max-width: 800px; margin: auto;}
.max-width-md {max-width: 1000px; margin: auto;}
.max-width-lg {max-width: 1200px; margin: auto;}
.max-width-xl {max-width: 1600px; margin: auto;}

/* VIEWPORT HEIGHT */
.tall-5   {min-height: 5vh;}
.tall-10  { min-height: 10vh;}
.tall-20  { min-height: 20vh;}
.tall-30  { min-height: 30vh;}
.tall-40  { min-height: 40vh;}
.tall-50  { min-height: 50vh;}
.tall-60  { min-height: 60vh;}
.tall-70  { min-height: 70vh;}
.tall-80  { min-height: 80vh;}
.tall-90  { min-height: 90vh;}
.tall-100 { min-height: 100vh;}

/* PADDING */
.padded-sm {padding:2.5%;}
.padded-md {padding:5%;}
.padded-lg {padding:10%;}

.padded-0  {padding:0rem;}
.padded-05 {padding:0.5rem;}
.padded-1  {padding:1rem;}
.padded-2  {padding:2rem;}
.padded-3  {padding:3rem;}


.padded-t-0 {padding-top:0rem;}
.padded-b-0 {padding-bottom:0rem;}
.padded-l-0 {padding-left:0rem;}
.padded-r-0 {padding-right:0rem;}

.padded-t-05 {padding-top:0.5rem;}
.padded-b-05 {padding-bottom:0.5rem;}
.padded-l-05 {padding-left:0.5rem;}
.padded-r-05 {padding-right:0.5rem;}

.padded-t-1 {padding-top:1rem;}
.padded-b-1 {padding-bottom:1rem;}
.padded-l-1 {padding-left:1rem;}
.padded-r-1 {padding-right:1rem;}

.padded-t-2 {padding-top:2rem;}
.padded-b-2 {padding-bottom:2rem;}
.padded-l-2 {padding-left:2rem;}
.padded-r-2 {padding-right:2rem;}

.padded-t-3 {padding-top:3rem;}
.padded-b-3 {padding-bottom:3rem;}
.padded-l-3 {padding-left:3rem;}
.padded-r-3 {padding-right:3rem;}

.padded-t-4 {padding-top:4rem;}
.padded-b-4 {padding-bottom:4rem;}
.padded-l-4 {padding-left:4rem;}
.padded-r-4 {padding-right:4rem;}

.padded-t-5 {padding-top:5rem;}
.padded-b-5 {padding-bottom:5rem;}
.padded-l-5 {padding-left:5rem;}
.padded-r-5 {padding-right:5rem;}

.padded-t-6 {padding-top:6rem;}
.padded-b-6 {padding-bottom:6rem;}
.padded-l-6 {padding-left:6rem;}
.padded-r-6 {padding-right:6rem;}

.padded-t-7 {padding-top:7rem;}
.padded-b-7 {padding-bottom:7rem;}
.padded-l-7 {padding-left:7rem;}
.padded-r-7 {padding-right:7rem;}

.padded-t-8 {padding-top:8rem;}
.padded-b-8 {padding-bottom:8rem;}
.padded-l-8 {padding-left:8rem;}
.padded-r-8 {padding-right:8rem;}

.padded-t-9 {padding-top:9rem;}
.padded-b-9 {padding-bottom:9rem;}
.padded-l-9 {padding-left:9rem;}
.padded-r-9 {padding-right:9rem;}

.padded-t-10 {padding-top:10rem;}
.padded-b-10 {padding-bottom:10rem;}
.padded-l-10 {padding-left:10rem;}
.padded-r-10 {padding-right:10rem;}


.padded-tb {
    padding-top: 8%;
    padding-bottom: 10%;
  }

.padded-tb-1   {padding-top: 1%; padding-bottom: 1%;}
.padded-tb-2   {padding-top: 2%; padding-bottom: 2%;}
.padded-tb-3   {padding-top: 3%; padding-bottom: 3%;}
.padded-tb-4   {padding-top: 4%; padding-bottom: 4%;}
.padded-tb-5   {padding-top: 5%; padding-bottom: 5%;}
.padded-tb-6   {padding-top: 6%; padding-bottom: 6%;}
.padded-tb-7   {padding-top: 7%; padding-bottom: 7%;}
.padded-tb-8   {padding-top: 8%; padding-bottom: 8%;}
.padded-tb-9   {padding-top: 9%; padding-bottom: 9%;}
.padded-tb-10  {padding-top: 10%; padding-bottom: 10%;}

.padded-lr-1   {padding-left: 1%; padding-right: 1%;}
.padded-lr-2   {padding-left: 2%; padding-right: 2%;}
.padded-lr-3   {padding-left: 3%; padding-right: 3%;}
.padded-lr-4   {padding-left: 4%; padding-right: 4%;}
.padded-lr-5   {padding-left: 5%; padding-right: 5%;}
.padded-lr-6   {padding-left: 6%; padding-right: 6%;}
.padded-lr-7   {padding-left: 7%; padding-right: 7%;}
.padded-lr-8   {padding-left: 8%; padding-right: 8%;}
.padded-lr-9   {padding-left: 9%; padding-right: 9%;}
.padded-lr-10  {padding-left: 10%; padding-right: 10%;}



/* MARGIN*/
.margin-t {margin-top: 5%;}
.margin-b {margin-bottom: 5%;}
.margin-l {margin-left: 5%;}
.margin-r {margin-right: 5%;}

.margin-t-0 {margin-top: 0;}
.margin-b-0 {margin-bottom: 0;}
.margin-l-0 {margin-left:0;}
.margin-r-0 {margin-right:0;}

.margin-t-05 {margin-top: 0.5rem;}
.margin-b-05 {margin-bottom: 0.5rem;}
.margin-l-05 {margin-left:0.5rem;}
.margin-r-05 {margin-right:0.5rem;}

.margin-t-1 {margin-top: 1rem;}
.margin-b-1 {margin-bottom: 1rem;}
.margin-l-1 {margin-left: 1rem;}
.margin-r-1 {margin-right: 1rem;}

.margin-t-2 {margin-top: 2rem;}
.margin-b-2 {margin-bottom: 2rem;}
.margin-l-2 {margin-left: 2rem;}
.margin-r-2 {margin-right: 2rem;}

.margin-tb-1 {margin-top:1rem;margin-bottom:1rem;}
.margin-tb-2 {margin-top:2rem;margin-bottom:2rem;}
.margin-tb-3 {margin-top:3rem;margin-bottom:3rem;}
.margin-tb-4 {margin-top:4rem;margin-bottom:4rem;}
.margin-tb-5 {margin-top:5rem;margin-bottom:5rem;}

.margin-lr-1   {margin-left: 1%; margin-right: 1%;}
.margin-lr-2   {margin-left: 2%; margin-right: 2%;}
.margin-lr-3   {margin-left: 3%; margin-right: 3%;}
.margin-lr-4   {margin-left: 4%; margin-right: 4%;}
.margin-lr-5   {margin-left: 5%; margin-right: 5%;}



/* ----------------- BACKGROUND / BACKGROUND IMAGES / OVERLAYS ---------------*/

/* BACKGROUND COLORS */
.bg-kapablue   {background-color: var(--kapa-blue)}


.bg-yellow      {background-color: #f5ebe0;}
.bg-lightorange {background-color: #e3d5ca;}
.bg-darkorange  {background-color: #d5bdaf;}
.bg-brown       {background-color: #d6ccc2;}
.bg-blue        {background-color: #ccd2d8;}
.bg-green       {background-color: #edede9;}

.bg-gray        {background-color: #676767;}
.bg-lightgray   {background-color:#8d8d8d;}
.bg-white       {background-color:white;}


/* BACKGROUND IMAGES */
.bg-image {
    background-color:#e3d5ca;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}



/* ASPECT RATIOS BACKGROUND IMAGES */
/* Only works if it is the element (the div) inside a parent container or column
Can't be applied to the column itself */
a.bg-image {display: block;}

.portrait-tall  {padding-bottom: 175%}
.portrait       {padding-bottom: 125%}
.square         {padding-bottom: 100%}
.landscape      {padding-bottom: 66%}
.landscape-wide {padding-bottom: 56%}

.two-thirds     {padding-bottom: 60%;}
.one-third      {padding-bottom: 123%;}


/* BACKGROUND POSITIONS */
.bg-pos-t {background-position: top;}
.bg-pos-b {background-position: bottom;}
.bg-pos-l {background-position: left;}
.bg-pos-r {background-position: right;}

.bg-pos-t-l { background-position: 10% 10%; }
.bg-pos-b-r { background-position: 85% 85%; }


/* ------------------------------------------------------------------------------------------------------------------ */

/* BACKGROUND OVERLAYS CATEGORY BANNERS*/

.bg-overlay::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
}

.bg-overlay::after,
.bg-overlay-gradient::after {
    z-index: 1;
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* The gradient color */
.bg-overlay-gradient::after {
    background-image: linear-gradient(90deg, black #00000000)
}

/* Takes anything inside the banner and pushes it to the front */
.bg-overlay > *,
.bg-overlay-gradient > * {
    z-index: 2;
    position: relative;
} 


/* Banner with gradient overlay for homepage main cards */
.overlay {
    background-color: rgba(0,0,0,0.2);
  }
  




/* ----------------- TYPOGRAPHY STYLES ---------------------------------------*/
/* FONTS */

/* Open Sans --------------------------------------------------*/
.opensans {font-family: 'Open Sans', sans-serif;}


/* Malmont ----------------------------------------------------*/
@font-face {
    font-family: 'Malmont';
    src:          url("/assets/Malmont/Malmont-Regular.otf");
}

.malmont  {font-family: 'Malmont', sans-serif;}


/* Mansory ----------------------------------------------------*/
/* Regular */
@font-face {
    font-family: 'Mansory Regular';
    src:         url("/assets/Mansory/Mansory-Regular.otf");
}
.mansory-regular {font-family: 'Mansory Regular', sans-serif;}


@font-face {
    font-family: 'Mansory Medium';
    src:         url("/assets/Mansory/Mansory-Medium.otf");
}
.mansory-medium  {font-family: 'Mansory Medium', sans-serif;}


@font-face {
    font-family: 'Mansory Semi Bold';
    src:         url("/assets/Mansory/Mansory-SemiBold.otf");
}
.mansory-semibold  {font-family: 'Mansory Semi Bold', sans-serif;}


@font-face {
    font-family: 'Mansory Bold';
    src:         url("/assets/Mansory/Mansory-Bold.otf");
}
.mansory-bold  {font-family: 'Mansory Bold', sans-serif;}


/* Oblique */
@font-face {
    font-family: 'Mansory Regular Oblique';
    src:         url("/assets/Mansory/Mansory-RegularOblique.otf");
}
.mansory-regular-oblique  {font-family: 'Mansory Regular Oblique', sans-serif;}


@font-face {
    font-family: 'Mansory Medium Oblique';
    src:         url("/assets/Mansory/Mansory-MediumOblique.otf");
}
.mansory-medium-oblique  {font-family: 'Mansory Medium Oblique', sans-serif;}


@font-face {
    font-family: 'Mansory Semibold Oblique';
    src:         url("/assets/Mansory/Mansory-SemiBoldOblique.otf");
}
.mansory-semibold-oblique  {font-family: 'Mansory Semibold Oblique', sans-serif;}


@font-face {
    font-family: 'Mansory Bold Oblique';
    src:         url("/assets/Mansory/Mansory-BoldOblique.otf");
}
.mansory-bold-oblique  {font-family: 'Mansory Bold Oblique', sans-serif;}





/* TEXT ALIGN */
.text-left    {text-align: left;}
.text-right   {text-align: right;}
.text-center  {text-align: center;}
.text-justify {text-align: justify;}
.uppercase    {text-transform: uppercase;}


/* MAIN STYLES */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    margin-bottom: 1.2rem;
}

h1, h2 {font-size: 3rem;
        font-family: 'Mansory Regular', sans-serif;
        font-weight: lighter;
}

h3 {
    font-size: 3rem;
    font-family: 'Mansory Regular', sans-serif;
    font-weight: lighter;
}

h4 {
    font-size: 2rem;
    font-family: 'Mansory Regular', sans-serif;
    font-weight: lighter;
}

h5 {font-size: 1.4rem;}
h6 {font-size: 1.2rem;}

p, li { 
    font-size:1.2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 50;
    line-height: 1.3;
    margin-bottom:1rem;
}

/* h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
    margin-bottom: 0;
} */


.sm-text  {font-size: 1rem;}
.md-text  {font-size: 1.5rem;}
.lg-text  {font-size: 1.7rem;}
.xl-text  {font-size: 3rem;}



/* UNIQUE TEXT */

.title-gray {
    font-family: 'Mansory Regular', sans-serif;
    font-size: 3rem;
    color:#676767;
    text-align: center;
    padding-bottom: 7rem;
    padding-top: 7rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

.featured-text-light {
    color: #c9c9c9;
    font-family: 'Malmont', sans-serif;
    font-size: 3.7rem;
  }



.oblique  {font-style: oblique;}
.italic   {font-style: italic;}
.subtitle {font-size: 0.8rem;
           font-style: italic;}
.bold     {font-family: 'Mansory Regular', sans-serif;
           font-size: 1.3rem;}




/* HOMEPAGE STYLES --------*/

/* About Section */

h1.about-section {
    margin-bottom: 0;
    padding-bottom: 3rem;
}

/* Latest Project */

.latest-projects-title {
    font-family: 'Mansory Medium', sans-serif;
    font-size: 2rem;
    color: var(--featured-text);
    padding-bottom: 2rem;
    margin-bottom: 0rem;
}

.latest-projects-text {margin-bottom:2rem;}

.location-tag {
    font-family: 'Mansory Regular Oblique', sans-serif;
    font-style: oblique;
    font-weight: lighter;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.category-tag {
    font-family: 'Mansory Regular', sans-serif;
    font-weight: lighter;
    font-size: 1.1rem;
    color: var(--featured-text);
}



/* Let's Talk Section */

.lets-talk.homepage {
    text-align: center;
    padding: 10%;
}

.lets-talk.contact-page  {
    text-align: center;
    padding: 14rem 10rem 10rem 10rem;
}


p.lets-talk {
    font-size: 1.5rem;
    font-weight: lighter;
    font-style: oblique;
    padding: 0;
  }



/* CATEGORY PAGE TEXT */
.category-text-title {
    font-family: 'Mansory Regular', sans-serif;
    font-size: 3rem;
    color: white;
    text-align: center;
    padding-top: 0rem;
    padding-bottom: 4rem;
    padding-right: 4rem;
    padding-left: 4rem;
}

.category-text-p {
    font-family: 'Mansory Regular Oblique', sans-serif;
    font-size: 1.4rem;
    color: white;
    text-align:center;
}




/* LINKS */
a {
    color: inherit;
    text-decoration: none;
}

p a:hover {color: var(--featured);}

a.link-in-text {text-decoration:none;}
a.link-in-text:hover {color: white;}




/* ------------------ BUTTONS ------------------------------------------------*/
/* GENERAL / RESET STYLING */
.button {
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    padding: 0.5rem 1.5rem;
    border: 1px solid;
}

.button:hover {
    color: var(--featured);
}

.subtle-button {
    text-decoration: none;
    border-bottom: 1px solid;
}


/* FORM BUTTON */
.form-button {
    background-color: #d5bdaf;
    color: white;
    border: 2px solid #edede9;
    font-size:medium;
    letter-spacing: 0.2rem;
    padding: 0.5rem 0.5rem;
    margin: 2rem 0;
    border-radius: 10px;
}

.form-button:hover {
    background-color: var(--green);
    border: 2px solid #d5bdaf;
    color: #d5bdaf;
}

.form-button-contact-page {
    background-color: #d5bdaf;
    color: white;
    border: 2px solid #edede9;
    font-size:medium;
    letter-spacing: 0.2rem;
    padding: 0.5rem 0.5rem;
    margin: 2rem 0;
    border-radius: 10px;
}

.form-button-contact-page:hover {
    background-color: white;
    border: 2px solid #d5bdaf;
    color: #d5bdaf;
}


/* VIEW GALLERY BUTTON */
.gallery-button {
    background-color: transparent;
    font-family: 'Mansory Regular', sans-serif;
    font-size: 1rem;
    color: white;
    border: 0px solid;
    border-bottom: 2px solid white;
    letter-spacing: 0.2rem;
    padding: 0.5rem 0.5rem;
    margin: 2rem 0;
}


.gallery-button:hover {
    color:#d5bdaf;
    border: 0px solid;
    border-bottom: 2px solid #d5bdaf;
}


/* VIEW PROJECT BUTTON */
.view-project-button {
    background-color: transparent;
    font-family: 'Mansory Regular', sans-serif;
    font-size: 1rem;
    color: #676767;
    border: 0px solid;
    border-bottom: 2px solid #d5bdaf;
    letter-spacing: 0.2rem;
    padding: 1.5rem 0rem 0.3rem 0rem;
    margin: 2rem 0;
}

a.view-project-button:hover {color: var(--featured);}



/* VIEW RELATED PROJECT BUTTON */
.related-posts-button {
    background-color: transparent;
    font-family: 'Mansory Regular', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #676767;
    border: 0px solid;
    border-bottom: 2px solid #676767;
    letter-spacing: 0.2rem;
    padding: 1rem 0.5rem;
    margin: 2rem 0;
}


.related-posts-button:hover {
    color: white;
    border: 0px solid;
    border-bottom: 2px solid white;
}

.text-md .related-posts {
    font-size: 2rem;
    font-family: 'Mansory Regular', sans-serif;
    font-weight: 100;
    line-height: 1.1;
  }





/* ----------------- CONTENT POSITIONING -------------------------------------*/


.content-start    {justify-items: flex-start;}
.content-center   {justify-content: center;}
.content-end      {justify-content: first baseline;}

.space-between    {justify-content: space-between;}
.space-around     {justify-content: space-around;}
.space-evenly     {justify-content: space-evenly;}

.flip-order-alternate                {flex-direction: row-reverse;}
.column-top-to-bottom                {flex-direction: column;}
.column-bottom-to-top                {flex-direction: column-reverse;}
.flip-order-alternate:nth-child(even){flex-direction: row-reverse;}


/* The flex-wrap property is a sub-property of the Flexible Box Layout module. 
It defines wheather the flex items are forced in a single line or can be flowed into multiple lines. 
If set to multiple lines, it also defines the cross-axis which determines the direction new lines are stacked in. */
.flex-container {flex-wrap: wrap;}




/* ------------------ HEADER STYLES ------------------------------------------*/ 


header {
    padding: 3rem 5%;
    min-height: 10vh;
    background-color: var(--kapa-light); 
  }

header h2 {
    font-size: 7rem;
    line-height: 7rem;
}

header h1 {
    font-size: 4rem;
    line-height: 4rem;
}

/* Resets padding of the div containing the nav menu to 0 */
/* div.col-7_sm-12.hide-md.right {padding: 0%;} */

header nav {
    font-family: 'Open Sans', sans-serif;
    font-size:1.2rem;
    text-align: right;
    /* padding: 0rem 0rem 6rem 0rem; */
}

nav a {
    color:#676767;
    padding: 0.5rem;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    /* border: 1px solid #676767; */
}

nav a:hover {
    color:#ccd2d8;
}

.logo {
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    max-width: 100%;
    display: block;
}


/* DROPDOWN MENU */

/* .dropdown {
    position: relative;
    display: inline-block; */
    /* border: 1px solid #b15c2b; */
/* } */
/* 
.dropdown-title {
    color: #676767;
    text-transform: uppercase;
    padding: 0.5rem 0.5rem;
    display: inline-block;

} */

/* .dropdown-content {
    position: absolute;
    top: 95%;
    left: 0.5rem;
    padding: 0rem;
    display: none;
    background-color: white;
    z-index: 2;
    text-align: left;
    min-width: 15rem;
    border: 1px solid #676767;
} */


/* .dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a{
    display: block;
    padding: 0.55rem;
    margin: 0.5rem;
    background-color: #f5ebe0;
    color: #676767;
    font-size: 1rem;
    font-style: oblique;
    font-family: 'Mansory Regular', sans-serif;
} */


/* HAMBURGER MENU  */

/* this is where you style the button
 if you want to add more space between the spans 
 then add padding to this div 
 but make sure you also add it to the top and bottom active classes on their top/bottom or else your cross wont line up*/

.burger-button {
    position:fixed;
    top: 8vh;
    right: 8vh;
    z-index: 9;
    padding: 8.5px;
  }

  /*this is where you can change the color of the buttons*/
  .burger-button span{
    width: 40px;
    border: 1.5px solid #FE654F;
    background-color: #676767;
    display: block;
    border-radius: 22px;
    transition: 1.5s;
  }

  .burger-button.active span{
    border-color: #676767;
    background-color:#676767;
  }
  
  .burger-top, .burger-bottom{
    position: absolute;
  }
  
  .burger-top{
    top: -02px;
  }
  
  .burger-bottom{
    bottom: -02px;
  }


  /* make sure this has the same top as the burger button has padding*/
  .burger-button.active .burger-top{
    position: absolute;
    top: 8.5px;
    transform: rotateZ(45deg);
  }
  

  .burger-button.active .burger-middle{
  /*   transform: rotateZ(270deg); */
    border-color: rgba(0,0,0,0);
    background-color:rgba(0,0,0,0);
  }
  
  /* make sure this has the same bottom as the burger button has padding*/
  
  .burger-button.active .burger-bottom{
    position: absolute;
    bottom: 8.5px;
    transform: rotateZ(-45deg);
  }
  
  .burger-menu {
      display: flex;
      position: fixed;
      top: 0vh;
      left:100vw;
      right: -100vw;
      bottom: 0vh;
      background-color: var(--kapa-light);
      padding:5px;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
      z-index: 8;
      transition:1s;
      align-content:space-around;
      justify-content:space-around;
      flex-direction:column;
  }


  .burger-menu.active{
    left:0vw;
    right:0;
  }


  .burger-menu a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #C3BFBC;
    font-family: 'Alegreya Sans SC', sans-serif;
    display:block;
    padding:5px 15px;
    text-align:center;
    white-space:nowrap;
  }
  


/* 
div.hamburger-button {text-align: center;}

.hamburger-button {
    padding: 2%;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    z-index: 2;
    padding: 0rem 0rem 2rem 0rem;
}

.hamburger-button.active {color: white;}

.fa solid{
    display: inline-block;
    text-align: right;
}

.fa bars{
    display: inline-block;
    text-align: right;
}

.mobile-menu {
    display: none; 
    background-color: white; 
    padding: 3%;
    position: fixed; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
} */

a.link {
    font-family: 'Mansory Regular', sans-serif;
    text-decoration: none; 
    color: #676767; 
    padding: 3vh 5%;
    display: block;
    font-weight: normal;
    font-size: 1.5rem;
}

a.link:hover {
    text-decoration: none; 
    color: var(--kapa-featured); 
    padding: 3vh 5%;
    display: block;
    font-weight: normal;
    font-size: 1.5rem;
}




/* ------------------ FOOTER STYLES -----------------------------*/ 
.submark-logo {
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display: block;
    max-width: 60%;
}



a.footer.sm-padded-0 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

a.footer.sm-padded-0:hover {
    color: var(--kapa-featured);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}


p.footer {
    font-size:1.1rem;
    font-family: 'Mansory', 'Open Sans';
    letter-spacing: 0.1rem;
    font-style: italic;
    margin:0;
    padding-right:0.5rem;
    text-align: right;
    padding-bottom: 0.2rem;
    color:var(--kapa-dark);
}

/* ICONS SOCIAL MEDIA */
.fa-facebook-square{
    color: var(--kapa-featured);
    font-size: 1.5rem;
}

.fa-instagram{
    color: var(--kapa-featured);
    font-size: 1.5rem;
}


/* ALL RIGHTS RESERVED */

p.copyright {
    font-size: 0.9rem;
    text-align: center;
    padding-top: 2.5rem;
  }


/* ------------------ CONTACT FORM -------------------------------------------*/
.form-title {
    font-size: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: var(--featured-text);
    text-align: center;
    margin-bottom: 0;
}

.form {padding-bottom: 3rem;}


form input,
form textarea {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #8b8b8b;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #d5bdaf;
    background-color: transparent;
}

form input:focus,
form textarea:focus {
  border-color: #d5bdaf;
}

textarea {
    min-height: 5rem;
}

form label {
    margin-top: 1rem;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: #878787;
    font-weight: borld;
    text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #676767;
    opacity: 0.8; /* Firefox */
    font-style: oblique;
    text-align: center;
  }



/* ---- GALLERY PAGE STYLE -------------------------------------------------- */
.sof-kapa-tag {
    font-family: 'Mansory Regular', sans-serif;
}

.project-description {
    font-style: oblique;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }


/* ---- CONTACT PAGE STYLES ------------------------------------------------- */
.banner {
    background-image: url("/assets/myportrait.jpg");
    background-size: cover;
    background-position: 50% 100%;
    position: relative;
  }


.border-bottom {border-bottom: 2px solid #676767 ;}

h1.border-bottom {padding-bottom: 1rem;}


.big-title {
    font-size: 2.5rem;
    padding-bottom: 4rem;
}

.name {
    font-size: 1.5rem;
    line-height:0;
    padding-bottom:3rem;
    font-family: 'Mansory Regular', sans-serif;
}

.contacts {
    font-size: 1.2rem;
    line-height:0;
    padding-bottom:1rem;
}

a.contacts:hover {color: white;}

.dark-gray {
    color:#4E4E4E;
}



/* RELATED POST STYLING ----------------------------------------------------- */
h4.centered.subtle-heading {
    margin-bottom: 0;
    padding-top: 3rem;
}


h3.absolute.center.fade-text-related {
    color:#676767;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }


/* ------------------ BLOG ELEMENTS: QUOTES, ICONS, QUOTES -------------------*/
/* POST LOOP ITEM */
.post-item {
    text-decoration: none;
}

/* INDIVIDUAL ELEMENTS */
.categories {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 0.8rem;
    margin-right: 0.4rem;
}

.post-info {
    font-size: 0.8rem;
    color: var(--light-text)

}


/* INDIVIDUAL BLOGPOST PAGES */
.big-text {
    font-size: 3rem;
    line-height: 1;
    font-family: 'Mansory Regular', sans-serif;
    font-weight: lighter;
    padding-top: 2rem;
  }

p.image-caption-left {
    transform: rotate(270deg);
    transform-origin: top left 0;
    margin-left: -1.5rem;
    font-size: 0.9rem;
    font-style: italic;
  }


.blog-content h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 3rem;
}

.blog-content p {
    line-height: 1.6;
}

.blog-content hr {
    border: none;
    border: 1px solid var(--featured)
}



/* SIDEBAR */
.sidebar-item {
    border: 2px solid var(--light);
    margin-bottom: 1rem;
    color: var(--medium);
}

.sidebar-item p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.recent-posts-nav a {
    display: block;
    font-weight: 300;
}


/* SOCIAL SHARE NAV */
.social-share a {
    padding: 0.25rem 0.5rem;
}


/* LINE BREAKS */


hr.short {
    border: 1px solid var(--dark-text);
    width: 2rem;
    margin: 1rem 0;
  }
  
hr.short.center {
    margin:auto;
    margin: 1rem auto;
    justify-content: center;
  }


/* PAGE NAME */



/* OTHER ELEMENTS */
.location-icon-styles {
    display: block;
    text-align: right;
    font-size: 2rem;
}

.quote-icon {
    display: inline-block;
    size: 6rem;
}





/* ------------------ IMAGES & IMAGE GALLERY STYLES---------------------------*/

/* GENERAL */

.transparent {opacity: 0.8;}


/* COVER IMAGES */
/* Homepage category covers */
.bg-piagonzosofa { 
    background-image: url('assets/portrait/coverportrait.jpg'); 
    background-size: cover;
    background-position: 30% 50%;
}
.bg-carolinafavourite { 
    background-image: url('assets/portrait/CAROLINA/favourite.jpg'); 
    background-size: cover;
    background-position: 30% 50%;
}
.bg-familyepl { 
    background-image: url('assets/brands/coverbrands.jpg');
    background-size: cover;
    background-position: 33% 50%;
}
.bg-fisherman { 
    background-image: url('assets/travel/covertravel.jpg');
    background-size: cover;
    background-position: 33% 70%;
}

/* Category Page Banners */
.banner-brands {
    background-image: url('/assets/brands/EPL/namaste.jpg');
    background-size: cover;
    background-position: 50% 57%;
    min-height: 60vh;
    padding: 5%;
}

.banner-travel {
    background-image: url('/assets/travel/MYANMAR/fishermanandbirds.jpg');
    background-size: cover;
    background-position: 50% 65%;
    min-height: 60vh;
    padding: 5%;
}

.banner-portrait {
    background-image: url('/assets/portrait/MADDYANDSAM/samholdingbellylandscape.jpg');
    background-size: cover;
    background-position: 50% 65%;
    min-height: 60vh;
    padding: 5%;
}



/* Project covers */
/* Brands */
.bg-bmv {
    background-image: url('assets/brands/BMV/bartenderserving.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.bg-epl {
    background-image: url('assets/brands/EPL/sofiagarcio.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.bg-lechat {
    background-image: url('assets/brands/lechat/moscowmule.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.bg-mozza {
    background-image: url('assets/brands/MOZZA/littlegirls.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.bg-woven {
    background-image: url('assets/brands/WOVEN/beetrootlatte.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.bg-stagshead {
    background-image: url('assets/brands/STAGS/antipastoboard.jpg');
    background-size: cover;
    background-position: 50% 50%;
}


/* Travel */
.bg-greece {
    background-image: url('assets/travel/GREECE/manstairs.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.bg-prague {
    background-image: url('assets/travel/PRAGUE/bridgeseller.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.bg-melbourne {
    background-image: url('assets/travel/MELBOURNE/blue.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.bg-vietnam {
    background-image: url('assets/travel/VIETNAM/foodtruckladies.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.bg-myanmar {
    background-image: url('assets/travel/MYANMAR/twoladieslooking.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.bg-newzealand {
    background-image: url('assets/travel/NEWZEALAND/mountcookview.jpg');
    background-size: cover;
    background-position: 50% 50%;
}


/* Portrait */
.bg-carolina {
    background-image: url('assets/portrait/CAROLINA/favourite.jpg');
    background-size: cover;
    background-position: 50% 50%;
}


.bg-piaandgonzo {
    background-image: url('assets/portrait/PIAANDGONZO/flowers.jpg');
    background-size: cover;
    background-position: 50% 50%;
}


.bg-maddyandsam {
    background-image: url('assets/portrait/MADDYANDSAM/maddyandsamsitting.jpg');
    background-size: cover;
    background-position: 50% 55%;
}


/* GALLERY STYLES */

.gallery [class*="col-"] {padding: 0.3rem;}


/* POP-UP GALLERY WHEN ACTIVE */
.lg-backdrop {background-color: #edede9;}

.lg-backdrop.in {opacity: 0.9;}

.lg-next, .lg-prev {
    background-color: transparent;
    color: #676767;
    font-size: 60px;
  }

picture.lg-img-wrap {padding-bottom: 3rem;}


/* CAROLINA GALLERY */
.allbrown         { background-image: url('assets/portrait/CAROLINA/allbrown.jpg');background-position: 25% 50%; }
.byhouse          { background-image: url('assets/portrait/CAROLINA/byhouse.jpg'); background-position: 50% 86%;}
.favourite        { background-image: url('assets/portrait/CAROLINA/favourite.jpg'); }
.fitness          { background-image: url('assets/portrait/CAROLINA/fitness.jpg'); }
.hat              { background-image: url('assets/portrait/CAROLINA/hat.jpg'); }
.inwater          { background-image: url('assets/portrait/CAROLINA/inwater.jpg'); }
.laughinglikemom  { background-image: url('assets/portrait/CAROLINA/laughinglikemom.jpg'); }
.laughingsitting  { background-image: url('assets/portrait/CAROLINA/laughingsitting.jpg'); }
.lookinghorizon   { background-image: url('assets/portrait/CAROLINA/lookinghorizon.jpg'); background-position: 69% 50%;}
.lyingtowel       { background-image: url('assets/portrait/CAROLINA/lyingtowel.jpg'); background-position: 50% 50%;}
.reflection       { background-image: url('assets/portrait/CAROLINA/reflection.jpg'); }
.sittinginwater   { background-image: url('assets/portrait/CAROLINA/sittinginwater.jpg'); }
.sittingtowel     { background-image: url('assets/portrait/CAROLINA/sittingtowel.jpg'); background-position: 50% 95%;}
.towel            { background-image: url('assets/portrait/CAROLINA/towel.jpg'); }
.umberellas       { background-image: url('assets/portrait/CAROLINA/umberellas.jpg'); }








/* ------------------ GALLERY CARDS BASED ON IOC TEMPLATE --------------------*/
/* THE SECTION */
/* Parent container set as a flexible element */
.flex {display: flex;}
/* Parent container set as  */
.flex-nowrap {flex-wrap: nowrap;}
/* Children elements of the flex container will display in a row */
.flex-row {flex-direction: row;}
/* Children elements of the flex container will display in a column */
.flex-column {flex-direction: column;}

.overflow-x-scroll {overflow-x: scroll;}


/* EACH CARD */
.card {
    padding: auto;
    /* border-radius: 10px; */
}

/* Hover fade effect*/
.fade-container {
    position: relative;
    width: 50%;
  }
  
.fade-image {
    display: block;
    width: 100%;
    height: auto;
  }
  
.fade-overlay {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--green);
    border-radius: 25px;
    border: 2px solid var(--kapa-featured);
  }
  

.fade-text {
    color: var(--kapa-dark);
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }


.fade-container:hover .fade-overlay {
    opacity: 0.7;
  }
  


.center.show-sm {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}



/* Center text on image */
.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
  }

.card:hover {
   box-shadow: 0 20px 25px -5px rgba(0,0,0,0.2),0 10px 10px -5px rgba(0,0,0,0.2); 
}


.card .content {
    flex: 1 1 auto;
}


.flex-shrink-0 {flex-shrink: 0;}
.stack {flex-direction: column;}


.w-1\/4{width: 25%;}
.h-2\/5 {height: 40%;}

.margin-r-15 {margin-right:1.5rem;}
.padding-15  {padding: 1.5rem;}

.first\:margin-l-6:first-child {
    margin-left: 1.5rem;
}

.relative {position: relative;}
.absolute {position: absolute;}

.bottom-0 {bottom: 0;}
.left-0   {left: 0;}
.right-0  {right: 0;}

.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.card-hover {
    top: 0;
    box-shadow: 0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.2);
    transition: all .3s;
}

.cursor-pointer {
    cursor: pointer;
  }


.bg-gradient-overlay {
    background: linear-gradient(0deg,rgba(22,22,30,.9) 3%,rgba(22,22,30,0) 100%);
}


.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tag {
    display: inline-block;
    font-family: 'Mansory Regular', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-style: oblique;
    line-height: 1.25rem;
  }


.text-md {
    font-size: 2.7rem;
    font-family: 'Mansory Regular', sans-serif;
    font-weight: 100;
    line-height: 1.1;
  }




/* ------------------ COOKIE BANNER ------------------------------------------*/


#cookie-notice {
    font-family: 'Mansory', 'Open Sans';
    z-index: 9;
    padding: 0.5rem 1rem;
    display: none;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: var(--kapa-blue);
    color: var(--kapa-light);
}

#cookie-notice a {
    display: inline-block;
    cursor: pointer;
    margin: 0.5rem;
}

#cookie-notice a:hover {
    display: inline-block;
    cursor: pointer;
    margin: 0.5rem;
    color: var(--kapa-dark);
}

#cookie-notice .button-subtle {
  opacity: 0.8;
}

#close-cookie-banner {
  padding: 1rem;
  cursor: pointer;
  font-size: 0.8rem;
  opacity: 0.5
}

/* ------------------ RESPONSIVENESS / MEDIA QUERIES -------------------------*/

/* General styles (apply everywhere) */
/* They won't be showing unless we activate them later */
.show-phone {display: none;}

.show-xs,
.show-sm,
.show-md,
.mobile-menu {
    display: none;
}

.show-inline   {display:inline-block;}

/* LG DEVICES (min 1024px - 1200 X 1025 pixels)
good for 24px screens and over --------------------------------------------- */
@media(min-width: 72em) {

/* General */
    .hide-lg    {display: none;}

/* Homepage */
    .lg-padded-t-0 {padding-top: 0%;}


/* Scrolling Gallery */
    /* .flex.flex-row.flex-nowrap.overflow-x-scroll.padded-b-3 {justify-content: space-around;} */


/* Contact Page */

    .padded-lg {
        padding: 9%;
      }


/* Footer */

    
    a.footer:hover {
    color: var(--kapa-dark);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    }

}



@media(max-width: 72em) {

    .md\:w-1\/3 {width: 33.33%;}


}

/* MD DEVICES (max 64em/1024px - 1024 X 769 pixels SMALL LAPTOPS)  
apply to devices smaller than 1024px----------------------------------------- */
@media(max-width: 64em) {

/* General  */
    .show-md   {display: block;}
    .hide-md    {display: none;}

    .md-portrait-tall {padding-bottom: 175%;}
    .md-portrait      {padding-bottom: 125%;}
    .md-square        {padding-bottom: 100%;}
    .md-landscape     {padding-bottom: 66%;}

    .md-padded-b-0 {padding-bottom: 0%;}
    .md-padded-t-0 {padding-top: 0%;}
    .md-padded-t-3 {padding-top: 3rem;}

    .md-padded-tb-0 {
        padding-top: 0%;
        padding-bottom: 0%;
    }

/* Header styles */

    .secondary-logo {
        max-width: 75%;
    }

/* Main navigation menu */

    div.col-7_md-2_xs-3.show-md {padding: 1rem 1rem 6rem 2rem;}

    div.hamburger-button {padding: 0rem 0rem 0rem 0rem;}

    .hamburger-button {
        padding: 2%;
        font-size: 3.5rem;
        cursor: pointer;
        position: relative;
        z-index: 2;
        padding: 1rem 0rem 4rem 1rem;
    }

    header nav {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
        text-align: center;
        /* padding: 2rem 0rem 2rem 0rem; */
        margin: auto;
      }


/* Cards Homepage */

      h3 {font-size: 4rem;}


/* Category Page Banner */
    .category-text-title {padding: 0rem;}
    .category-text-p {
        font-family: 'Mansory Regular', sans-serif;
        font-style: oblique;
        font-size: 1.4rem;
        color: white;
        text-align:center;
        padding-top: 1rem;
    }


/* Scrolling Gallery */
    .flex.flex-row.flex-nowrap.overflow-x-scroll.padded-b-3 {justify-content: baseline;}

    h3.white {font-size: 2.8rem;}


/* Gallery Page */

    h1.big-text {font-size: 2.5rem;}

    .tag {font-size: 0.9rem;}

    .sof-kapa-tag {font-size: 1.1rem;}

    .max-width-md {max-width: 840px; margin: auto;}

    h3.absolute.center.fade-text-related {
        color:#676767;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }


/* Related Projects */

    .fade-container {padding: 1rem;}

    h3.absolute.center.fade-text-related {font-size: 30px;}



/* Contact Form */


    .form label, .form input, .form textarea {
        font-size: 1.3rem;
    }

    #message {
        font-size: 1.1rem;
        font-weight:lighter;
    }

    .textarea {min-height: 6rem;}


/* Contact Page */


    .big-title {font-size: 2.3rem;}

    .name {
        font-size: 1.6rem;
        line-height:0;
        padding-bottom:3rem;
        font-family: 'Mansory Regular', sans-serif;
    }

    .contacts {
        font-size: 1.2rem;
        line-height:0;
        padding-bottom:1rem;
    }


/* Footer  */

    .submark-logo {
        padding-top: 1rem;
        padding-bottom: 3rem;
        max-width: 60%;
    }
    
    p.footer {
        padding-top: 3rem;
        padding-bottom: 0.5rem;
    }
    


/* Footer Styles */


    .featured-text-light {font-size: 3rem;}


    span.bold {font-size: 1.4rem;}
    span.light {font-size: 1.2rem;}




/* SM DEVICES (max 48em/768px - 481 X 768 pixels TABLETS) MOST PHONES
apply to devices smaller than 768px ------------------------------------------*/
@media(max-width: 48em) {

/* General */
    .show-sm {display: block;}
    .hide-sm {display: none;}

    .show-sm-inline {display: inline-block;}

    .sm-text-center {text-align: center;}
    .sm-text-left {text-align: left;}
    .sm-text-right {text-align: right;}

    .sm-padded-05 {padding: 0.5%;}
    .sm-padded-1  {padding: 1%;}
    .sm-padded-3  {padding: 3%;}
    .sm-padded-5  {padding: 5%;}
    .sm-padded-10 {padding: 10%;}

    .sm-padded-t-0 {padding-top: 0%;}
    .sm-padded-b-0 {padding-bottom: 0%;}
    .sm-padded-l-0 {padding-left: 0%;}
    .sm-padded-r-0 {padding-right: 0%;}

    .sm-padded-tb-0 {padding-top: 0%; padding-bottom: 0%;}
    .sm-padded-lr-2 {padding-left: 2rem; padding-right: 2rem;}
    .sm-padded-lr-3 {padding-left: 3rem; padding-right: 3rem;}
    .sm-padded-lr-1 {padding-left: 1rem;padding-right: 1rem;}

    .sm-padded-t-2  {padding-top: 2rem;}
    .sm-padded-b-2  {padding-bottom: 2rem;}
    .sm-padded-b-3  {padding-bottom: 3rem;}

    .sm-portrait-tall {padding-bottom: 175%;}
    .sm-portrait      {padding-bottom: 125%;}
    .sm-square        {padding-bottom: 100%;}
    .sm-landscape     {padding-bottom: 66%;}


/* Header Stlyes */
    .secondary-logo {
        max-width: 60%;
    }

/* Navigation Menu */
    div.col-7_md-2_xs-3.show-md {padding: 0rem 0rem 4rem 1rem;}

    .dropdown-content a {font-size: 0.9rem;}


/* About Section */

    h1.about-section {
        padding-bottom: 2rem;
        padding-top:1rem;}

    .text-sm {font-size:1.2rem;}


/* Lets Talk Section */

    div.lets-talk {padding: 5rem 5rem 1rem 5rem;}

    p.lets-talk {font-size: 1.2rem;}


/* Contact Form */
    .form label, .form input, .form textarea {
        font-size: 1.2rem;
    }

    .form {padding-bottom: 0;}



/* Category Pages */
    .banner-brands,
    .banner-portrait,
    .banner-travel {
        padding: 10%;
        min-height: 50vh;}

    .category-text-title {
        padding: 0rem;
        line-height: 1;
    }
    .category-text-p {font-size: 1.2rem;}



/* Scrolling gallery */
    .sm\:w-1\/2 {width: 50%;}

    .tag {font-size: 0.7rem;}

    .text-md {
        font-size: 1.7rem;
        font-family: 'Mansory Regular', sans-serif;
        font-weight: 100;
        line-height: 1.1;
      }

    .gallery-button {margin: 1rem 0;}

    .gallery-button:hover {
        color:white;
        border: 0px solid;
        border-bottom: 2px solid white;
    }

    p a:hover {color: white;}

    a:hover {color: white;}


/* Individual Gallery Pages */

    div.bg-image.square.gallery-banner {padding-bottom: 80%;}
    
    .sof-kapa-tag{font-size: 1rem; }

    .gallery [class*="col-"] {
        padding: 0.5%;
      }

    .lg-next, .lg-prev {
        background-color: transparent;
        color: white;
        font-size: 30px;
      }

    h4 {font-size: 1.8rem;}

    p.tag.gray.margin-b-0{padding-bottom: 1rem;}


/* Related Posts */

    .sm-landscape-wide {padding-bottom: 50%}

    h3.absolute.center.fade-text-related-white {
        color:white;
        font-size: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        line-height: 1;
      }

    a.padded-2 {
        padding: 2%;
    }


/* Cards Homepage */
    .image-faded-sm {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0.7;
        transition: .5s ease;
    }


/* Contact Page */
    .banner {padding-bottom: 100%;}

    .big-title {font-size: 2rem;}

    .name {
        font-size: 1.6rem;
        line-height:0;
        padding-bottom:3rem;
        font-family: 'Mansory Regular', sans-serif;
    }

    .contacts {
        font-size: 1.2rem;
        line-height:0;
        padding-bottom:1rem;
    }


/* Footer */

    .submark-logo {
        padding-top: 1rem;
        padding-bottom: 3rem;
        max-width: 75%;
    }

    p.footer {
        padding-top: 0;
        font-size: 1.1rem;
        padding-bottom: 0.5rem;
    }


    a.footer.sm-padded-0 {
        font-size: 1rem;
        padding: 0.1rem;
    }
    
    a.footer.sm-padded-0:hover{
        font-size: 1rem;
        padding: 0.1rem;
    }


    nav.inline.socials {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .fa-facebook-square {font-size: 2.5rem;}
    .fa-instagram {font-size: 2.5rem;}


}


/* XS DEVICES (max 36em/576px - 320 X 480 pixels PHONES) 
apply to devices smaller than 576px ------------------------------------*/
@media(max-width: 36em) {

    
/* General */
    .show-xs {display: block;}
    .hide-xs {display: none;}

    .xs-padded-5 {padding: 5%;}
    .xs-padded-b-0 {padding-bottom: 0%;}

    .xs-bg-green {background-color: var(--green);}


/* Main Navigation Menu */

    a.link {font-size: 1.3rem;}

    a.link:hover {font-size: 1.3rem;}


/* Homepage Cards */
    h1, h2, h3 {
        font-size: 3rem;
        line-height: 0.9;
    }


/* About Section */
    .sm-text-left    {text-align: left;}

    .text-sm {font-size: 1.1rem;}

    a.link-in-text {font-size: 1rem;}


/* Contact Form */

    .lets-talk.homepage {padding: 4rem 2.5rem;}

    .lets-talk.contact-page {padding: 8rem 2.5rem 4rem 2.5rem;}

    .form-title {
        font-size: 1.6rem;
        padding-top: 3rem;
        padding-bottom: 3rem;}

    .form label {margin-top: 3rem;}

    .form input {padding: 0.2rem;}



/* Category page banner */

    .category-text-title {
        font-size: 2.5rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
      }

    .category-text-p {font-size: 1.5rem;}


/* Scrolling Gallery */

    .title-gray {
        padding: 2rem;
        line-height: 1;
        padding-bottom: 7rem;
        padding-top: 7rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .horizontal-scroll{
        overflow-x: auto;
        flex-wrap: nowrap;
    }

    h3.white {font-size: 2.6rem;}

    .tag {font-size: 1rem;}

    .sm\:w-1\/2 {width: 75%;}



/* Latest Projects */
    .location-tag {font-size: 1rem;}
    .category-tag {font-size: 1rem;}

    div.padded-t-2{padding: 0rem;}

    h3.latest-projects-title {padding-bottom: 1rem;}

    a.view-project-button:hover {color: #c9c9c9;}

    p.latest-projects-text {font-size: 1.1rem;}



/* Gallery Page */
 

    h1.big-text {font-size: 2rem;}

    .big-text {
        line-height: 1;
        padding-top: 0.5rem;}

    .project-description {margin-bottom: 3rem;}

    .tag {font-size: 0.8rem;}

    p.tag.gray.margin-b-0{padding-bottom: 1rem;}


/* Related Projects */

    h3.absolute.center.fade-text-related-white {font-size: 30px;}


/* Contact Page */

   .big-title {font-size: 2rem;}

   .name {
       font-size: 1.6rem;
       line-height:0;
       padding-bottom:3rem;
       font-family: 'Mansory Regular', sans-serif;
   }

   .contacts {
       font-size: 1.2rem;
       line-height:0;
       padding-bottom:1rem;
   }


/* Footer  */

   .submark-logo {
    padding-top: 0rem;
}

    p.footer {
        font-size: 1.2rem;
        padding-bottom: 1.5rem;
    }

    .footer.sm-padded-0 {display: block;}

    a.footer.sm-padded-0 {font-size: 1.1rem;}

    a.footer.sm-padded-0:hover{font-size: 1.1rem;}

    nav.inline.socials {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .fa-facebook-square {padding-right: 1rem;}

    p.copyright {
        padding-bottom: 0.8rem;
        font-size: 0.8rem;}
      


/* Footer Styles */

    footer a {font-size: 1.1rem;}

    span.bold {font-size: 1.2rem;}
    span.light {font-size: 1.2rem;}


  }




/* XXS DEVICES (max 320px) 
apply to devices smaller than 320px ----------------------------------------------*/
@media (max-width:320px) {


/* General */
    .hide-xxs    {display: none;}

/* Main Navigation Menu */

    .burger-button {
        position: fixed;
        top: 7vh;
        right: 3vh;
        z-index: 9;
        padding: 8.5px;
    }

    /* .hamburger-button {
        padding: 2%;
        font-size: 1.5rem;
        cursor: pointer;
        position: relative;
        z-index: 2;
        padding: 0rem 0rem 2rem 1rem;
    }

    div.col-7_md-2_xs-3.show-md {padding: 0rem 0rem 3rem 2rem;}

    img.logo {padding: 0rem 0rem 1rem 0rem;}

    div.col-7_md-2_xs-3.show-md {padding: 0rem 1rem 3rem 2rem;}

    header nav {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8rem;
        text-align: center;
    }

    .dropdown-content {
        position: absolute;
        top: 124%;
        left: -0.5rem;
        padding: 0rem;
        display: none;
        background-color: white;
        z-index: 3;
        text-align: left;
        min-width: 15rem;
    } */

    nav a {font-size:0.7rem;
           padding:0.1rem;}
    
    /* span.dropdown-title {font-size: 0.7rem;
                         padding: 0.1rem;}

    .dropdown-content a {font-size: 0.7rem;} */


/* Home Page Cards */
    h1, h2, h3 {font-size: 2.8rem;}


/* Latest Projects */
    .category-tag {
        font-size: 1rem;
        line-height: 1.2;
      }


/* Category Page Banner */


    .category-text-title {
        margin-bottom: 3rem;
        font-size: 2.3rem;
        padding: 0rem;
        line-height: 1.1;
        margin-top: 3rem;
    }
    

    .category-text-p {font-size: 1.3rem;}




/* Scrolling Gallery */

    .title-gray {
        font-size: 2.5rem;
    }

    .horizontal-scroll{
        overflow-x: auto;
        flex-wrap: nowrap;
    }


    h3.white {font-size: 2rem;}

    .tag {font-size: 0.9rem;}


    button.gallery-button {font-size: 1rem;}

    .padding-15 {
        padding-bottom: 0.8rem;
      }



/* Individual Gallery Pages */

    .sof-kapa-tag {font-size: 1rem;}

    .lg-next, .lg-prev {
        color: white;
        font-size: 20px;
    }

    h3.absolute.center.fade-text-related-white {font-size: 20px;}

    h4 {font-size: 1.2rem;}


/* Contact Page */
    .big-title {
        font-size: 1.3rem;
        padding-right: 0;
        padding-bottom: 1rem;
      }


    .name {
    font-size: 1.2rem;
    line-height: 0;
    padding-bottom: 2rem;
    }

    .contacts {
        font-size: 1rem;
        line-height: 0;
        padding-bottom: 0.6rem;
      }

/* Footer Contact Page */

    a.footer.sm-padded-0 {font-size: 1rem;}

    a.footer.sm-padded-0:hover{font-size: 1rem;}

    nav.inline.socials {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }



/* Footer */

    footer h3 {font-size: 2rem;}

    footer p {font-size: 1rem;}

    span.bold {font-size: 1rem;}
    span.light {font-size: 1rem;}

    footer a {font-size: 1rem;}

}







