/* ---------------- TEMPORARY STRUCTURE STYLES -------------------------------*/
/* section{
    padding: 0.5rem;
    border:1px solid rgb(240,240,240)
} */


/* html{border:none;} */

/* ---------------- CSS RESET ------------------------------------------------*/
*{ padding: 0;
    margin:0;
    box-sizing:border-box;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Override default Gridlex padding */
[class*=col-] {padding: 0;}
[class*=grid] {margin: 0;}

/* Automatically makes banners or other elements with overlay work */
section {position: relative;}



/* ---------------- COLOR VARIABLES ------------------------------------------*/
:root {
    --dark-text:    #676767;
    --medium-text:  #8d8d8d;
    --light-text:   white;
    --featured-text:#d5bdaf;
    --dark:         #676767;
    --medium:       #8d8d8d;
    --light:        white;
    --featured:     #d5bdaf;
    --yellow:       #f5ebe0;
    --light-orange: #e3d5ca;
    --dark-orange:  #d5bdaf;
    --brown:        #d6ccc2;
    --blue:         #ccd2d8;
    --green:        #edede9;
}


.yellow         {color: #f5ebe0;}
.lightorange    {color: #e3d5ca;}
.darkorange     {color: #d5bdaf;}
.brown          {color: #d6ccc2;}
.blue           {color: #ccd2d8;}
.green          {color: #edede9;}

.white          {color: white;}
.gray           {color: #676767;}
.lightgray      {color:#8d8d8d}



/* ----------------- BODY STYLES ---------------------------------------------*/

body{
    /* border: none; */
    color:var(--dark-text);
    font-family: 'open sans', sans-serif ;
}
 
.border {
    padding: 0.5rem;
    border:1px solid #676767;
} 



/* ----------------- NEGATIVE SPACE / PADDING --------------------------------*/

/* CAPPED WIDTH */
.max-width-sm {max-width: 800px; margin: auto;}
.max-width-md {max-width: 1000px; margin: auto;}
.max-width-lg {max-width: 1200px; margin: auto;}
.max-width-xl {max-width: 1600px; margin: auto;}

/* VIEWPORT HEIGHT */
.tall-10  { min-height: 10vh;}
.tall-20  { min-height: 20vh;}
.tall-30  { min-height: 30vh;}
.tall-40  { min-height: 40vh;}
.tall-50  { min-height: 50vh;}
.tall-60  { min-height: 60vh;}
.tall-70  { min-height: 70vh;}
.tall-80  { min-height: 80vh;}
.tall-90  { min-height: 90vh;}
.tall-100 { min-height: 100vh;}

/* PADDING */
.padded-sm {padding:2.5%;}
.padded-md {padding:5%;}
.padded-lg {padding:10%;}

.padded-05 {padding:0.5rem;}
.padded-1  {padding:1rem;}
.padded-2  {padding:2rem;}
.padded-3  {padding:3rem;}


.padded-t-0 {padding-top:0rem;}
.padded-b-0 {padding-bottom:0rem;}
.padded-l-0 {padding-left:0rem;}
.padded-r-0 {padding-right:0rem;}

.padded-t-05 {padding-top:0.5rem;}
.padded-b-05 {padding-bottom:0.5rem;}
.padded-l-05 {padding-left:0.5rem;}
.padded-r-05 {padding-right:0.5rem;}

.padded-t-1 {padding-top:1rem;}
.padded-b-1 {padding-bottom:1rem;}
.padded-l-1 {padding-left:1rem;}
.padded-r-1 {padding-right:1rem;}

.padded-t-2 {padding-top:2rem;}
.padded-b-2 {padding-bottom:2rem;}
.padded-l-2 {padding-left:2rem;}
.padded-r-2 {padding-right:2rem;}

.padded-t-3 {padding-top:3rem;}
.padded-b-3 {padding-bottom:3rem;}
.padded-l-3 {padding-left:3rem;}
.padded-r-3 {padding-right:3rem;}

.padded-t-4 {padding-top:4rem;}
.padded-b-4 {padding-bottom:4rem;}
.padded-l-4 {padding-left:4rem;}
.padded-r-4 {padding-right:4rem;}

.padded-t-5 {padding-top:5rem;}
.padded-b-5 {padding-bottom:5rem;}
.padded-l-5 {padding-left:5rem;}
.padded-r-5 {padding-right:5rem;}

.padded-t-6 {padding-top:6rem;}
.padded-b-6 {padding-bottom:6rem;}
.padded-l-6 {padding-left:6rem;}
.padded-r-6 {padding-right:6rem;}

.padded-t-7 {padding-top:7rem;}
.padded-b-7 {padding-bottom:7rem;}
.padded-l-7 {padding-left:7rem;}
.padded-r-7 {padding-right:7rem;}

.padded-t-8 {padding-top:8rem;}
.padded-b-8 {padding-bottom:8rem;}
.padded-l-8 {padding-left:8rem;}
.padded-r-8 {padding-right:8rem;}

.padded-t-9 {padding-top:9rem;}
.padded-b-9 {padding-bottom:9rem;}
.padded-l-9 {padding-left:9rem;}
.padded-r-9 {padding-right:9rem;}

.padded-t-10 {padding-top:10rem;}
.padded-b-10 {padding-bottom:10rem;}
.padded-l-10 {padding-left:10rem;}
.padded-r-10 {padding-right:10rem;}


.padded-tb-1   {padding-top: 1%; padding-bottom: 1%;}
.padded-tb-2   {padding-top: 2%; padding-bottom: 2%;}
.padded-tb-3   {padding-top: 3%; padding-bottom: 3%;}
.padded-tb-4   {padding-top: 4%; padding-bottom: 4%;}
.padded-tb-5   {padding-top: 5%; padding-bottom: 5%;}
.padded-tb-6   {padding-top: 6%; padding-bottom: 6%;}
.padded-tb-7   {padding-top: 7%; padding-bottom: 7%;}
.padded-tb-8   {padding-top: 8%; padding-bottom: 8%;}
.padded-tb-9   {padding-top: 9%; padding-bottom: 9%;}
.padded-tb-10  {padding-top: 10%; padding-bottom: 10%;}

.padded-lr-1   {padding-left: 1%; padding-right: 1%;}
.padded-lr-2   {padding-left: 2%; padding-right: 2%;}
.padded-lr-3   {padding-left: 3%; padding-right: 3%;}
.padded-lr-4   {padding-left: 4%; padding-right: 4%;}
.padded-lr-5   {padding-left: 5%; padding-right: 5%;}
.padded-lr-6   {padding-left: 6%; padding-right: 6%;}
.padded-lr-7   {padding-left: 7%; padding-right: 7%;}
.padded-lr-8   {padding-left: 8%; padding-right: 8%;}
.padded-lr-9   {padding-left: 9%; padding-right: 9%;}
.padded-lr-10  {padding-left: 10%; padding-right: 10%;}



/* MARGIN*/
.margin-t {margin-top: 5%;}
.margin-b {margin-bottom: 5%;}
.margin-l {margin-left: 5%;}
.margin-r {margin-right: 5%;}

.margin-t-0 {margin-top: 0;}
.margin-b-0 {margin-bottom: 0;}
.margin-l-0 {margin-left:0;}
.margin-r-0 {margin-right:0;}

.margin-t-05 {margin-top: 0.5rem;}
.margin-b-05 {margin-bottom: 0.5rem;}
.margin-l-05 {margin-left:0.5rem;}
.margin-r-05 {margin-right:0.5rem;}

.margin-t-1 {margin-top: 1rem;}
.margin-b-1 {margin-bottom: 1rem;}
.margin-l-1 {margin-left: 1rem;}
.margin-r-1 {margin-right: 1rem;}

.margin-t-2 {margin-top: 2rem;}
.margin-b-2 {margin-bottom: 2rem;}
.margin-l-2 {margin-left: 2rem;}
.margin-r-2 {margin-right: 2rem;}

.margin-tb-1 {margin-top:1rem;margin-bottom:1rem;}
.margin-tb-2 {margin-top:2rem;margin-bottom:2rem;}
.margin-tb-3 {margin-top:3rem;margin-bottom:3rem;}
.margin-tb-4 {margin-top:4rem;margin-bottom:4rem;}
.margin-tb-5 {margin-top:5rem;margin-bottom:5rem;}

.margin-lr-1   {margin-left: 1%; margin-right: 1%;}
.margin-lr-2   {margin-left: 2%; margin-right: 2%;}
.margin-lr-3   {margin-left: 3%; margin-right: 3%;}
.margin-lr-4   {margin-left: 4%; margin-right: 4%;}
.margin-lr-5   {margin-left: 5%; margin-right: 5%;}



/* ----------------- BACKGROUND / BACKGROUND IMAGES / OVERLAYS ---------------*/

/* BACKGROUND COLORS */
.bg-yellow      {background-color: #f5ebe0;}
.bg-lightorange {background-color: #e3d5ca;}
.bg-darkorange  {background-color: #d5bdaf;}
.bg-brown       {background-color: #d6ccc2;}
.bg-blue        {background-color: #ccd2d8;}
.bg-green       {background-color: #edede9;}

.bg-gray        {background-color: #676767;}
.bg-lightgray   {background-color:#8d8d8d;}
.bg-white       {background-color:white;}


/* BACKGROUND IMAGES */
.bg-image {
    background-color:#e3d5ca;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}



/* ASPECT RATIOS BACKGROUND IMAGES */
/* Only works if it is the element (the div) inside a parent container or column
Can't be applied to the column itself */
a.bg-image {display: block;}

.portrait-tall  {padding-bottom: 175%}
.portrait       {padding-bottom: 125%}
.square         {padding-bottom: 100%}
.landscape      {padding-bottom: 66%}
.landscape-wide {padding-bottom: 56%}

.two-thirds     {padding-bottom: 60%;}
.one-third      {padding-bottom: 123%;}


/* BACKGROUND POSITIONS */
.bg-pos-t {background-position: top;}
.bg-pos-b {background-position: bottom;}
.bg-pos-l {background-position: left;}
.bg-pos-r {background-position: right;}

.bg-pos-t-l { background-position: 10% 10%; }
.bg-pos-b-r { background-position: 85% 85%; }



/* BACKGROUND OVERLAYS */
.bg-overlay::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
}

.bg-overlay::after,
.bg-overlay-gradient::after {
    z-index: 1;
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* The gradient color */
.bg-overlay-gradient::after {
    background-image: linear-gradient(90deg, black #00000000)
}

/* Takes anything inside the banner and pushes it to the front */
.bg-overlay > *,
.bg-overlay-gradient > * {
    z-index: 2;
    position: relative;
} 


/* Banner with gradient overlay for homepage main cards */
.overlay {
    background-color: rgba(0,0,0,0.2);
  }
  



/* ----------------- TYPOGRAPHY STYLES ---------------------------------------*/
/* FONTS */
@font-face {
    font-family:'mansory', sans-serif;
    src:         url("Font Bundle/OTF/Mansory.otf");
    font-style:  normal;
    font-weight: medium;
}

@font-face {
    font-family: 'malmont', sans-serif;
    src:          url("Font Bundle/OTF/Malmont.otf");
    font-style:   normal;
    font-weight:  100;
}

@font-face {
    font-family: 'open sans', sans-serif;
    src:          url("Font Bundle/OTF/Open Sans.otf");
    font-style:   normal;
    font-weight:  100;
}


.mansory  {font-family: 'mansory', sans-serif;}
.malmont  {font-family: 'malmont', sans-serif;}
.opensans {font-family: 'open sans', sans-serif;}


/* TEXT ALIGN */
.text-left    {text-align: left;}
.text-right   {text-align: right;}
.text-center  {text-align: center;}
.text-justify {text-align: justify;}
.uppercase    {text-transform: uppercase;}


/* MAIN STYLES */
h2, h3, h4, h5, h6 {
    line-height: 1.1;
    margin-bottom: 1.2rem;
}

h2 {font-size: 3rem;
    font-family: mansory, sans-serif;
    font-weight: lighter;
}

h3 {
    font-size: 3rem;
    font-family: mansory, sans-serif;
    font-weight: lighter;
}

h4 {
    font-size: 2rem;
    font-family: mansory, sans-serif;
    font-weight: lighter;
}

h5 {font-size: 1.4rem;}
h6 {font-size: 1.2rem;}

p, li { 
    font-size:1.2rem;
    font-family: open sans, sans-serif;
    font-weight: 50;
    line-height: 1.3;
    margin-bottom:1rem;
}

h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
    margin-bottom: 0;
}


.sm-text  {font-size: 1rem;}
.md-text  {font-size: 1.5rem;}
.lg-text  {font-size: 1.7rem;}
.xl-text  {font-size: 3rem;}


/* UNIQUE TEXT */
.title-white {
    font-family: mansory, sans-serif;
    font-size: 3rem;
    color: white;
    text-align: center;
    padding: 4rem;
}

.title-gray {
    font-family: mansory, sans-serif;
    font-size: 3rem;
    color:#676767;
    text-align: center;
    padding: 2rem;
}

.featured-text {
    color: white;
    font-family: 'malmont', sans-serif;}

.special-text {
    font-family: mansory, sans-serif;
    font-style: oblique;
    font-size: 1.3rem;
    color: white;
}

.subtitle {
    font-size: 0.8rem;
    font-style: italic;
}

.oblique {font-style: oblique;}
.italic  {font-style: italic;}
.bold    {
          font-family: mansory, sans-serif; 
          font-size: 1.3rem;
        }


/* LINKS */
a {
    color: inherit;
    text-decoration: none;
}

a:hover {color:var(--featured)}

p a {
    text-decoration: none;
    border-bottom: 1px solid;
}

p a:hover {
    color: var(--featured);
}




/* ------------------ BUTTONS ------------------------------------------------*/
/* GENERAL / RESET STYLING */
.button {
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    padding: 0.5rem 1.5rem;
    border: 1px solid;
}

.button:hover {
    color: var(--featured);
}

.subtle-button {
    text-decoration: none;
    border-bottom: 1px solid;
}


/* FORM BUTTON */
.form-button {
    background-color: #d5bdaf;
    color: white;
    border: 2px solid #edede9;
    font-size:medium;
    letter-spacing: 0.2rem;
    padding: 0.5rem 0.5rem;
    margin: 2rem 0;
    border-radius: 10px;
}

.form-button:hover {
    background-color: var(--green);
    border: 2px solid #d5bdaf;
    color: #d5bdaf;
}

.form-button-contact-page {
    background-color: #d5bdaf;
    color: white;
    border: 2px solid #edede9;
    font-size:medium;
    letter-spacing: 0.2rem;
    padding: 0.5rem 0.5rem;
    margin: 2rem 0;
    border-radius: 10px;
}

.form-button-contact-page:hover {
    background-color: white;
    border: 2px solid #d5bdaf;
    color: #d5bdaf;
}


/* VIEW GALLERY BUTTON */
.gallery-button {
    background-color: transparent;
    font-family: mansory, sans-serif;
    font-size: 1rem;
    color: white;
    border: 0px solid;
    border-bottom: 2px solid white;
    letter-spacing: 0.2rem;
    padding: 0.5rem 0.5rem;
    margin: 2rem 0;
}


.gallery-button:hover {
    color:#d5bdaf;
    border: 0px solid;
    border-bottom: 2px solid #d5bdaf;
}


/* VIEW PROJECT BUTTON */
.project-button {
    background-color: transparent;
    font-family: mansory, sans-serif;
    font-size: 1rem;
    color: #676767;
    border: 0px solid;
    border-bottom: 2px solid #d5bdaf;
    letter-spacing: 0.2rem;
    padding: 1.5rem 0rem 0.3rem 0rem;
    margin: 2rem 0;
}

/* VIEW RELATED PROJECT BUTTON */
.related-posts-button {
    background-color: transparent;
    font-family: mansory, sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #676767;
    border: 0px solid;
    border-bottom: 2px solid #676767;
    letter-spacing: 0.2rem;
    padding: 1rem 0.5rem;
    margin: 2rem 0;
}


.related-posts-button:hover {
    color: white;
    border: 0px solid;
    border-bottom: 2px solid white;
}

.text-md .related-posts {
    font-size: 2rem;
    font-family: mansory, sans-serif;
    font-weight: 100;
    line-height: 1.1;
  }





/* ----------------- CONTENT POSITIONING -------------------------------------*/


.content-start    {justify-items: flex-start;}
.content-center   {justify-content: center;}
.content-end      {justify-content: first baseline;}

.space-between    {justify-content: space-between;}
.space-around     {justify-content: space-around;}
.space-evenly     {justify-content: space-evenly;}

.flip-order-alternate                {flex-direction: row-reverse;}
.column-top-to-bottom                {flex-direction: column;}
.column-bottom-to-top                {flex-direction: column-reverse;}
.flip-order-alternate:nth-child(even){flex-direction: row-reverse;}


/* The flex-wrap property is a sub-property of the Flexible Box Layout module. 
It defines wheather the flex items are forced in a single line or can be flowed into multiple lines. 
If set to multiple lines, it also defines the cross-axis which determines the direction new lines are stacked in. */
.flex-container {flex-wrap: wrap;}




/* ------------------ HEADER STYLES ------------------------------------------*/ 
header {
    padding: 1rem 5%;
    min-height: 10vh;
    background-color:white; 
  }

header h2 {
    font-size: 7rem;
    line-height: 7rem;
}

header h1 {
    font-size: 4rem;
    line-height: 4rem;
}

header nav {
    font-family: open sans;
    font-size:1.2rem;
    text-align: right;
}

nav a {
    color:#676767;
    padding: 0.5rem;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    /* border: 1px solid #676767; */
}

nav a:hover {
    color:#ccd2d8;
}

.logo {
    background-image: url('/assets/logo1.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    max-width: 100%;
    display: block;
}



/* DROPDOWN MENU */

.dropdown {
    position: relative;
    display: inline-block;
    /* border: 1px solid #b15c2b; */
}

.dropdown-title {
    color: #676767;
    text-transform: uppercase;
    padding: 0.5rem 0.5rem;
    display: inline-block;

}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0rem;
    padding: 0rem;
    display: none;
    background-color: white;
    z-index: 2;
    text-align: left;
    min-width: 15rem;
    /* border: 1px solid #676767; */
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a{
    display: block;
    padding: 0.55rem;
    margin: 0.5rem;
    background-color: #f5ebe0;
    color: #676767;
    font-size: 1.1rem;
    font-style: oblique;
}


/* HAMBURGER MENU  */

.hamburger-button {
    padding: 2%;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    z-index: 2;
    padding: 1rem 0rem 4rem 0rem;
}


/* MENU ON SMALL SCREEN /PHONE */
/* 
.mobile-menu {
    background-color:#ccd2d8;
    padding: 5%;
    position: fixed;
    top: 0;
    bottom:0;
    left:0;
    right:0;
} */

/* .mobile-menu a {
    text-decoration: none;
    color: inherit;
    padding: 5vh 5%;
    display: block;
} */

.fa solid{
    display: inline-block;
    text-align: right;
}

.fa bars{
    display: inline-block;
    text-align: right;
}

/* ------------------ MAIN FOOTER STYLES -------------------------------------*/ 
footer p {
    font-size:1.2rem;
    line-height: 1;
    text-align: right;
}

footer a {
    border: none;
    color: var(--featured);
}

footer a:hover {
    color: white;
}



/* ------------------ CONTACT PAGE FOOTER STYLES -----------------------------*/ 
.logo2 {
    background-image: url('/assets/logo2.svg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    max-width: 100%;
    display: block;
}

a.footer-contact {
    color: white;
    font-family: open sans, sans-serif;
    font-size: 1.2rem;
}

a.footer-contact:hover{
    color: #e3d5ca;
    font-family: open sans, sans-serif;
    font-size: 1.2rem;
}

/* ICONS SOCIAL MEDIA */
.fa-facebook-square{
    color: #e3d5ca;
    font-size: 1.5rem;
}

.fa-instagram{
    color: #e3d5ca;
    font-size: 1.5rem;
}



/* ------------------ CONTACT FORM -------------------------------------------*/
form input,
form textarea {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #8b8b8b;
    outline: none;
    font-family: open sans, sans-serif;
    font-size: 1rem;
    color: #d5bdaf;
    background-color: transparent;
}

form input:focus,
form textarea:focus {
  border-color: #d5bdaf;
}

textarea {
    min-height: 5rem;
}

form label {
    margin-top: 1rem;
    display: block;
    font-family: open sans, sans-serif;
    font-size: 1.2rem;
    color: #878787;
    font-weight: borld;
    text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #676767;
    opacity: 0.8; /* Firefox */
    font-style: oblique;
    text-align: center;
  }


/* ---- CONTACT PAGE STYLES ------------------------------------------------- */
.home-banner {padding: 0;}

.banner, .banner-with-header {
    background-image: url("/assets/portrait/CAROLINA/fitness.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
  }


.vertical-text{
    transform: rotate(90deg);
    font-size: 15vh;
    position: absolute;
    left: 42%;
    top: 61%;
    margin: 0;
    padding: 0;
}




/* ------------------ BLOG ELEMENTS: QUOTES, ICONS, QUOTES -------------------*/
/* POST LOOP ITEM */
.post-item {
    text-decoration: none;
}

/* INDIVIDUAL ELEMENTS */
.categories {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 0.8rem;
    margin-right: 0.4rem;
}

.post-info {
    font-size: 0.8rem;
    color: var(--light-text)

}


/* INDIVIDUAL BLOGPOST PAGES */
.big-text {
    font-size: 3rem;
    line-height: 1;
    font-family: mansory, sans-serif;
    font-weight: lighter;
    padding-top: 2rem;
  }

p.image-caption-left {
    transform: rotate(270deg);
    transform-origin: top left 0;
    margin-left: -1.5rem;
    font-size: 0.9rem;
    font-style: italic;
  }



.blog-content h1 {
    font-family: 'open sans', sans-serif;
    font-weight: 200;
    font-size: 3rem;
}

.blog-content p {
    line-height: 1.6;
}

.blog-content hr {
    border: none;
    border: 1px solid var(--featured)
}



/* SIDEBAR */
.sidebar-item {
    border: 2px solid var(--light);
    margin-bottom: 1rem;
    color: var(--medium);
}

.sidebar-item p {
    font-family: 'open sans', sans-serif;
    font-weight: 300;
}

.recent-posts-nav a {
    display: block;
    font-weight: 300;
}


/* SOCIAL SHARE NAV */
.social-share a {
    padding: 0.25rem 0.5rem;
}


/* LINE BREAKS */


hr.short {
    border: 1px solid var(--dark-text);
    width: 2rem;
    margin: 1rem 0;
  }
  
hr.short.center {
    margin:auto;
    margin: 1rem auto;
    justify-content: center;
  }


/* PAGE NAME */



/* OTHER ELEMENTS */
.location-icon-styles {
    display: block;
    text-align: right;
    font-size: 2rem;
}

.quote-icon {
    display: inline-block;
    size: 6rem;
}





/* ------------------ IMAGES & IMAGE GALLERY STYLES---------------------------*/

/* GENERAL */

.transparent {opacity: 0.8;}


/* COVER IMAGES */
/* Homepage category covers */
.bg-piagonzosofa { 
    background-image: url('assets/portrait/coverportrait.jpg'); 
    background-size: cover;
    background-position: 30% 50%;
}
.bg-familyepl { 
    background-image: url('assets/brands/coverbrands.jpg');
    background-size: cover;
    background-position: 33% 50%;
}
.bg-fisherman { 
    background-image: url('assets/travel/covertravel.jpg');
    background-size: cover;
    background-position: 33% 70%;
}

/* Category Page Banners */
.banner-brands {
    background-image: url('/assets/brands/EPL/namaste.jpg');
    background-size: cover;
    background-position: 50% 57%;
    min-height: 70vh;
    padding: 5%;
}

.banner-travel {
    background-image: url('/assets/travel/MYANMAR/fishermanandbirds.jpg');
    background-size: cover;
    background-position: 50% 65%;
    min-height: 70vh;
    padding: 5%;
}

.banner-portrait {
    background-image: url('/assets/portrait/MADDYANDSAM/samholdingbellylandscape.jpg');
    background-size: cover;
    background-position: 50% 65%;
    min-height: 70vh;
    padding: 5%;
}
  
.banner h2 {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 4rem;
}
  


/* Project covers */
/* Brands */
.bg-bmv {
    background-image: url('assets/brands/BMV/bartenderserving.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.bg-epl {
    background-image: url('assets/brands/EPL/sofiagarcio.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.bg-lechat {
    background-image: url('assets/brands/lechat/moscowmule.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.bg-mozza {
    background-image: url('assets/brands/MOZZA/littlegirls.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.bg-woven {
    background-image: url('assets/brands/WOVEN/beetrootlatte.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.bg-stagshead {
    background-image: url('assets/brands/STAGS/antipastoboard.jpg');
    background-size: cover;
    background-position: 50% 50%;
}


/* Travel */
.bg-greece {
    background-image: url('assets/travel/GREECE/manstairs.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.bg-prague {
    background-image: url('assets/travel/PRAGUE/bridgeseller.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.bg-melbourne {
    background-image: url('assets/travel/MELBOURNE/blue.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.bg-vietnam {
    background-image: url('assets/travel/VIETNAM/foodtruckladies.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.bg-myanmar {
    background-image: url('assets/travel/MYANMAR/twoladieslooking.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.bg-newzealand {
    background-image: url('assets/travel/NEWZEALAND/mountcookview.jpg');
    background-size: cover;
    background-position: 50% 50%;
}


/* Portrait */
.bg-carolina {
    background-image: url('assets/portrait/CAROLINA/favourite.jpg');
    background-size: cover;
    background-position: 50% 50%;
}


.bg-piaandgonzo {
    background-image: url('assets/portrait/PIAANDGONZO/flowers.jpg');
    background-size: cover;
    background-position: 50% 50%;
}


.bg-maddyandsam {
    background-image: url('assets/portrait/MADDYANDSAM/maddyandsamsitting.jpg');
    background-size: cover;
    background-position: 50% 55%;
}


/* GALLERY STYLES */

.gallery [class*="col-"] {padding: 0.3rem;}


/* POP-UP GALLERY WHEN ACTIVE */
.lg-backdrop {background-color: #edede9;}

.lg-backdrop.in {opacity: 0.9;}

.lg-next, .lg-prev {
    background-color: #EDEDE9;
    color: #676767;
    font-size: 60px;
  }


/* CAROLINA GALLERY */
.allbrown         { background-image: url('assets/portrait/CAROLINA/allbrown.jpg');background-position: 25% 50%; }
.byhouse          { background-image: url('assets/portrait/CAROLINA/byhouse.jpg'); background-position: 50% 86%;}
.favourite        { background-image: url('assets/portrait/CAROLINA/favourite.jpg'); }
.fitness          { background-image: url('assets/portrait/CAROLINA/fitness.jpg'); }
.hat              { background-image: url('assets/portrait/CAROLINA/hat.jpg'); }
.inwater          { background-image: url('assets/portrait/CAROLINA/inwater.jpg'); }
.laughinglikemom  { background-image: url('assets/portrait/CAROLINA/laughinglikemom.jpg'); }
.laughingsitting  { background-image: url('assets/portrait/CAROLINA/laughingsitting.jpg'); }
.lookinghorizon   { background-image: url('assets/portrait/CAROLINA/lookinghorizon.jpg'); background-position: 69% 50%;}
.lyingtowel       { background-image: url('assets/portrait/CAROLINA/lyingtowel.jpg'); background-position: 50% 50%;}
.reflection       { background-image: url('assets/portrait/CAROLINA/reflection.jpg'); }
.sittinginwater   { background-image: url('assets/portrait/CAROLINA/sittinginwater.jpg'); }
.sittingtowel     { background-image: url('assets/portrait/CAROLINA/sittingtowel.jpg'); background-position: 50% 95%;}
.towel            { background-image: url('assets/portrait/CAROLINA/towel.jpg'); }
.umberellas       { background-image: url('assets/portrait/CAROLINA/umberellas.jpg'); }








/* ------------------ GALLERY CARDS BASED ON IOC TEMPLATE --------------------*/
/* THE SECTION */
/* Parent container set as a flexible element */
.flex {display: flex;}
/* Parent container set as  */
.flex-nowrap {flex-wrap: nowrap;}
/* Children elements of the flex container will display in a row */
.flex-row {flex-direction: row;}
/* Children elements of the flex container will display in a column */
.flex-column {flex-direction: column;}

.overflow-x-scroll {overflow-x: scroll;}


/* EACH CARD */
.card {
    padding: auto;
    /* border-radius: 10px; */
}

/* Hover fade effect*/
.fade-container {
    position: relative;
    width: 50%;
  }
  
.fade-image {
    display: block;
    width: 100%;
    height: auto;
  }
  
.fade-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--green);
  }
  
.fade-container:hover .fade-overlay {
    opacity: 0.7;
  }
  
.fade-text {
    color:#676767;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

.center.show-sm {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}



/* Center text on image */
.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 3rem;
  }

.card:hover {
   box-shadow: 0 20px 25px -5px rgba(0,0,0,0.2),0 10px 10px -5px rgba(0,0,0,0.2); 
}


.card .content {
    flex: 1 1 auto;
}


.flex-shrink-0 {flex-shrink: 0;}
.stack {flex-direction: column;}


.w-1\/4{width: 25%;}
.h-2\/5 {height: 40%;}

.margin-r-15 {margin-right:1.5rem;}
.padding-15  {padding: 1.5rem;}

.first\:margin-l-6:first-child {
    margin-left: 1.5rem;
}

.relative {position: relative;}
.absolute {position: absolute;}

.bottom-0 {bottom: 0;}
.left-0   {left: 0;}
.right-0  {right: 0;}

.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.card-hover {
    top: 0;
    box-shadow: 0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.2);
    transition: all .3s;
}

.cursor-pointer {
    cursor: pointer;
  }


.bg-gradient-overlay {
    background: linear-gradient(0deg,rgba(22,22,30,.9) 3%,rgba(22,22,30,0) 100%);
}


.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tag {
    display: inline-block;
    font-family: mansory, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-style: oblique;
    line-height: 1.25rem;
  }


.text-md {
    font-size: 2.7rem;
    font-family: mansory, sans-serif;
    font-weight: 100;
    line-height: 1.1;
  }


/* 
.mob-padded-0 {
    padding-left: 0;
    padding-right: 0;
} */



/* ------------------ RESPONSIVENESS / MEDIA QUERIES -------------------------*/

/* General styles (apply everywhere) */
/* They won't be showing unless we activate them later */
 .show-phone {display: none;}

.show-xs,
.show-sm,
.show-md,
.mobile-menu {
    display: none;
}

.side-by-side {
    display: inline-block;
    vertical-align: top;
}



/* LG DEVICES (min 1024px)
good for 24px screens and over  */
@media(min-width: 72em) {

    .hide-lg    {display: none;}

}


/* MD DEVICES (max 64em/1024px)  
apply to devices smaller than 10204px */
@media(max-width: 64em) {

    .show-md   {display: block;}
    .hide-md    {display: none;}

    .md-portrait-tall {padding-bottom: 175%;}
    .md-portrait      {padding-bottom: 125%;}
    .md-square        {padding-bottom: 100%;}
    .md-landscape     {padding-bottom: 66%;}

    .special-text {
        font-family: mansory, sans-serif;
        font-style: oblique;
        font-size: 1.1rem;
        color: white;
    }

}

@media(max-width: 72em) {

    .md\:w-1\/3 {width: 33.33%;}

}



/* SM DEVICES (max 48em/768px) MOST PHONES
apply to devices smaller than 768px */
@media(max-width: 48em) {


    .show-sm {display: block;}
    .hide-sm {display: none;}

    .sm-text-center {text-align: center;}
    .sm-text-left {text-align: left;}
    .sm-text-right {text-align: right;}

    .sm-padded-05 {padding: 0.5%;}
    .sm-padded-1  {padding: 1%;}
    .sm-padded-3  {padding: 3%;}
    .sm-padded-5  {padding: 5%;}
    .sm-padded-10 {padding: 10%;}

    .sm-padded-t-0 {padding-top: 0%;}
    .sm-padded-b-0 {padding-bottom: 0%;}
    .sm-padded-l-0 {padding-left: 0%;}
    .sm-padded-r-0 {padding-right: 0%;}

    .sm-padded-lr-3 {padding-left: 3rem;
                     padding-right: 3rem;}
    .sm-padded-t-2  {padding-top: 2rem;}
    .sm-padded-b-2  {padding-bottom: 2rem;}

    .sm-portrait-tall {padding-bottom: 175%;}
    .sm-portrait      {padding-bottom: 125%;}
    .sm-square        {padding-bottom: 100%;}
    .sm-landscape     {padding-bottom: 66%;}

    .phone-padded  {padding-bottom: 1rem;}

    .banner-brands,
    .banner-portrait,
    .banner-travel {padding: 10%;}

    .title-white {
        font-family: mansory, sans-serif;
        font-size: 2rem;
        color: white;
        text-align: center;
        padding: 0.5rem;
        margin-bottom: 4rem;
    }

    .special-text {
        font-family: mansory, sans-serif;
        font-style: oblique;
        font-size: 1.1rem;
        color: white;
    }

    .text-sm { 
        font-size:1rem;
    }


    .sm\:w-1\/2 {width: 50%;}

    .tag {font-size: 0.7rem;}

    .text-md {
        font-size: 1.7rem;
        font-family: mansory, sans-serif;
        font-weight: 100;
        line-height: 1.1;
      }
    
    .gallery-button {margin: 1rem 0;}
    .gallery-button:hover {
        color:white;
        border: 0px solid;
        border-bottom: 2px solid white;
    }
    

    p a:hover {
        color: white;
    }

    a:hover {color: white;}

    .lg-next, .lg-prev {
        background-color: transparent;
        color: white;
        font-size: 30px;
      }
    

    
    .mob-flex-flip {flex-direction: column-reverse;}

    [class*="sm-hidden"] {
        display: none;
      }


    .image-faded-sm {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0.7;
        transition: .5s ease;
        background-color: var(--green);
    }


    a.footer-contact {
        color: white;
        font-family: open sans, sans-serif;
        font-size: 0.75rem;
    }
    
    a.footer-contact:hover{
        color: #e3d5ca;
        font-family: open sans, sans-serif;
        font-size: 0.75rem;
    }


}


/* XS DEVICES (max 36em/576px) 
apply to devices smaller than 576px */
@media(max-width: 36em) {

    .show-xs {display: block;}
    .hide-xs {display: none;}

    .horizontal-scroll{
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}


/* XSS DEVICES (max 320px)
apply to devices smaller than 320px */
@media (max-width:320px) {


}









