---
layout: default
title: Travel Photography | Sof Kapa Photography
seo:
  title: Travel & Street | Sof Kapa Photography
  description: During my travels or walks in the street I focus on capturing the human story behind every subject I photograph
  social_image: /assets/social_images/portrait_social.jpg
  twitter_card:
  twitter_description:
  keywords: melbourne photographer, travel, street, human portrait, humanity, landscape
  hide-from-google: false
---


<!-- BANNER SECTION -------------------------------------------------------------------->
<!-- <section class="banner-travel grid bg-overlay bg-overlay-gradient border-t-b">
    <div class="col-12-middle">
      <h1 class="handwritten-text-xl sm-padded-2"> TRAVEL </h1> 
      <p class="banner-text sm-padded-3"> Human stories are at the center of what I capture during my travels and walks in the street<br>I am passionate about getting the viewer to focus on a particular moment in time of the photographed subject's life, making them wonder about the impact it has on their own personal experience   
      </p>
    </div>
  </section> -->

<!-- BANNER SECTION -------------------------------------------------------------------->
<section class="banner-travel grid-spaceAround-middle bg-overlay bg-overlay-gradient border-b">

  <div>
      <h1 class="handwritten-text-xl sm-padded-2"> <span class="sketch-underline-lg">Travel</span></h1> 
  </div>

</section>


<!-- CARDS SECTION --------------------------------------------------------------------->
<section class="padded-b-3 white bg-kapawhite">

<!-- SCROLLING GALLERY -->
  <div class="flex flex-row flex-nowrap overflow-x-scroll padded-tb-3">

    <!-- Filter only projects that I want on this page -->
    {% assign travel-posts = site.posts | where: 'main_category', 'travel' %}
    <!-- Loop through projects -->
    {% for post in travel-posts %}

    <div class="w-1/4 md:w-1/3 sm:w-1/2 flex-shrink-0 margin-r-1 first:margin-l-6 card">

      <a href="{{ post.url }}" class="bg-image round-corners portrait relative card-shadow" style="background-image: url('{{ post.cover_image }}');">
            <div class="absolute h-2/5 bottom-shade rounded-2xl bg-gradient-overlay"></div>
            <div class="absolute inset-0 flex stack space-between padded-1 text-center">

              <p class="tag">{{ post.location }}</p>
              <h3 class="featured-bold">{{ post.title }} </h3>
              <p class="subtle-button">VIEW GALLERY</p>

            </div>
      </a>

    </div>

  {% endfor %}

  </div>

<!-- FEATURED TEXT ---------------------------------------------------------------------->
<section class="padded-md border-t-b bg-kapablue">
  <!-- <p class="sm-padded-md featured-bold text-center">While working on these intimate occasions,<br>I focus on capturing the greatness of a transient yet unforgettable moment of my subjects' lives<br>Whether it is self-love or love for another, the attention is always put towards the details that they'll want to remember and cherish forever</p> -->
  <p class="sm-padded-md featured-bold text-center">Highlighting <span class="sketch-underline-sm">genuine moments </span> of a place and time,<br>through compelling and impactful imagery<br>will help you build an <span class="sketch-underline-sm">emotional connection </span>with your audience.<br></p>
</section>


<!-- TARGET AUDIENCE -------------------------------------------------------------------->

<section class="padded-md grid" style="padding-bottom:8rem;">

  <h2 class="text-center col-12 padded-b-3">Who is this for</h2>

  <div class="col-6 border-b">
    <h2 class="kapa-featured handwritten-text" style="text-align: left;">Tourism Boards</h2>
    <p>Get captivating photos highlight attractions, culture, and events in your area</p>
  </div>
  <div class="col-6"></div>

  <div class="col-6"></div>
  <div class="col-6 border-b">
    <h2 class="kapa-featured handwritten-text" style="text-align: right;">Travel Agencies & Tour Operators</h2>
    <p class="text-right">Compelling visuals of your destinations and activities to help you market your travel packages effectively</p>
  </div>

  <div class="col-6 border-b">
    <h2 class="kapa-featured handwritten-text" style="text-align: left;">Airlines & Cruise Companies</h2>
    <p>Engaging imagery of fleet, services, and destinations can enhance your promotional materials</p>
  </div>
  <div class="col-6"></div>

  <div class="col-6"></div>
  <div class="col-6 border-b">
    <h2 class="kapa-featured handwritten-text" style="text-align: right;">Hotels, Resorts & Airbnb's</h2>
    <p class="text-right">High-quality images showcasing your accommodations, amenities, and experiences can entice potential guests</p>
  </div>

  <div class="col-6 border-b">
    <h2 class="kapa-featured handwritten-text" style="text-align: left;">Airlines, Railway & Shipping Companies</h2>
    <p>Engaging imagery of fleet, services, and destinations can enhance your promotional materials</p>
  </div>
  <div class="col-6"></div>

  <div class="col-6"></div>
  <div class="col-6 border-b">
    <h2 class="kapa-featured handwritten-text" style="text-align: right;">Adventure and Eco-Tourism Companies</h2>
    <p class="text-right">Photos capturing the unique outdoor experiences you have to offer will appeal to adventure seekers</p>
  </div>

</section>


<!-- SUSTAINABILITY DREAM CLIENTS SECTION ---------------------------------------------->

<section class="grid tall-80 border-t-b">
    
  <div class="col-6_md-5_sm-12 eco-banner-travel border-r">
  </div>

  <div class="col-6_md-7_sm-12-middle padded-lg">

          <p class="featured-thin padded-b-1">I’m passionate about working with brands that prioritize <span class="sketch-underline-sm">eco-friendly </span>practices.</p>
          <p class="featured-thin">If your brand is making a positive impact, I’d love to help tell your story through photography that resonates with <span class="sketch-underline-sm">conscious consumers!</span></p>

  </div>

</section>



<!-- CTA - BOOK NOW --------------------------------------------------------------------->
{% include book-cta.html %}


</section>