<!-- Rolling banner ------------------------------------------------------------------------------>
<section class="gradient flex content-center items-center flex relative overflow-hidden border-t-b">

    <div class="flex items-center justify-start whitespace-nowrap">
    
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
          <img src="/assets/logos/favicon-white-stroke.svg">
          <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
          <img src="/assets/logos/favicon-white-stroke.svg">
          <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
          <img src="/assets/logos/favicon-white-stroke.svg">
          <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
    
    </div>
  
</section>
  
  
  
  <!-- CTA Book Now button -->
  
<section class="grid-center">

    <div class="padded-lg">
        <a href="/booking-calendar.html" class="cta-button padded-sm">Book Now !</a>
    </div>

</section>