<!-- Rolling banner ------------------------------------------------------------------------------>
<section class="gradient flex content-center items-center flex relative overflow-hidden border-t-b">

    <div class="flex items-center justify-start whitespace-nowrap">
    
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
          <img src="/assets/logos/favicon-white-stroke.svg">
          <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
          <img src="/assets/logos/favicon-white-stroke.svg">
          <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
          <img src="/assets/logos/favicon-white-stroke.svg">
          <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
    
    </div>
  
</section>
  
  
  
<!-- CTA Book Now button -->

  
<section class="grid-center">

    <div class="col-12 padded-md padded-b-0" id="typed-strings">

        <p class="featured-bold">{{page.cta_sentence}}</p>

    </div>
    <!-- <span id="typed"></span> -->

    <div class="col-12 padded-md text-center">
        <a href="/booking-calendar.html" class="cta-button padded-sm">Book Now !</a>
    </div>

</section>