<!-- Contact Form Section -->

<section>
    
    <!-- The form -->
    <div class="max-width-md padded-b-5 sm-padded-b-0 xs-bg-green">
    
        <div class="bg-green margin-lr-5 margin-tb-5">
    
            <h3 class="form-title sm-padded-0">YOUR MESSAGE</h3>
    
            <div class="grid-center form">
                <div class="col-9_sm-10">
                    <form 
                        action="https://formspree.io/f/mrgdpoqd"
                        method="POST"
                    >

                        <label for="_name">NAME</label>
                        <input type="text" name="_name" id="_name"/>
    
                        <label for="_replyto">EMAIL</label>
                        <input type="email" name="_replyto" id="_replyto"/>
    
                        <label for="message" class="padded-b-2 padded-t-4 sm-padded-tb-0">TYPE YOUR MESSAGE</label>
                        <textarea name="message" id="message" placeholder="tell me a bit about you, your business or brand and the project you'd like to work on"></textarea>
                    
                        <div class="grid-center sm-padded-5">
                            <button type="submit" class="form-button col-3_sm-6" style="padding: 0.5rem 0.5rem">SUBMIT</button>
                        </div>
                        
                    </form>

                </div>
            </div>
    
        </div>
    </div>

</section>




