<!-- The form -->
<div class="bg-green max-width-lg" style="margin-top:5rem; margin-bottom:5rem;">

    <div class="margin-lr-5">

        <h3 class="text-center sm-padded-0" style="padding-bottom: 3rem;padding-top:3rem;color:#d5bdaf; font-size:1.5rem;">YOUR MESSAGE</h3>
        <div class="grid-center">
            <div class="col-8_sm-10 sm-padded-b-0">
                <form action="https://formspree.io/f/mrgdpoqd" method="POST">
                    <label for="_name">name</label>
                    <input type="text" name="_name" id="_name"/>

                    <label for="_replyto">email</label>
                    <input type="email" name="_replyto" id="_replyto"/>

                    <label for="message" class="padded-b-2 padded-t-4 sm-padded-t-0">type your message</label>
                    <textarea name="message" id="message" placeholder="tell me a bit about you, your business or brand and the project you'd like to work on"></textarea>
                </form>
                <div class="grid-center sm-padded-5">
                    <button type="submit" class="form-button col-3_sm-6" style="padding: 0.5rem 0.5rem">SUBMIT</button>
                </div>
            </div>
        </div>

    </div>
</div>


