
<!-- Title -->
<div class="padded-2 padded-t-10 gray text-center" style="margin-top:4rem;">
        <h3 class="padded-b-2">let's talk!</h3>
        <p style="font-size: 1.2rem; font-style:italic;">I wanna hear about your project and help you meet your needs</p>
</div>

<!-- The form -->
<div class="bg-green max-width-lg" style="margin-top:5rem; margin-bottom:5rem;">

    <div class="padded-lr-5">

        <h3 class="text-center" style="padding-bottom: 3rem;padding-top:3rem;color:#d5bdaf; font-size:1.5rem;">YOUR MESSAGE</h3>
        <div class="grid-center">
            <div class="col-6_sm-12" style="padded-t-2">
                <form>
                    <label for="_name">name</label>
                    <input type="text" name="_name" id="_name"/>

                    <label for="_replyto">email</label>
                    <input type="email" name="_replyto" id="_replyto"/>

                    <label for="message" class="padded-b-2 padded-t-4">type your message</label>
                    <textarea name="message" id="message" placeholder="tell me a bit about you, your business or brand and the project you'd like to work on"></textarea>
                </form>
                <div class="grid-center">
                    <button type="submit" class="form-button col-3" style="padding: 0.5rem 0.5rem;">SUBMIT</button>
                </div>
            </div>
        </div>

    </div>
</div>


