<!-- Google Analytics - First script  -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9M78DLKD8V"></script>



<!-- Cookie Banner with "Decline" Option -->
<div id="cookie-notice">
  <div class="cookie-notice-inner">
    <div class="cookie-text">
      I value your privacy and to deliver the best browsing experience possible, my website uses cookies and similar tracking technologies. By approving this agreement, you automatically consent to the use of cookies.
    </div>

    <div class="cookie-buttons">
      <a id="cookie-notice-accept" class="button">Approve</a>

      <!-- <span class="button-separator">|</span> -->

      <a href="/cookie-policy.html" class="button-subtle">More info</a>
      <span class="button-separator">|</span>

      <a id="cookie-notice-decline" class="button-subtle">Decline</a>
    </div>
  </div>
</div>




<!-- COOKIE BANNER ANIMATION --------------------------------------------------------------->


<!-- Code that runs cookie banner -->
<!-- <script>
    function createCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    function eraseCookie(name) {
        createCookie(name,"",-1);
    }


    function runCookiedCodes() {
        {% include personal-tracking-scripts.js %}
    }

    // Show banner after 30s delay
    if (readCookie('cookie-notice-dismissed') !== 'true') {
        setTimeout(() => {
        document.getElementById('cookie-notice').classList.add('show');
        }, 30000); // 30 seconds
    } else {
        runCookiedCodes();
    }

    // Approve
    document.getElementById('cookie-notice-accept').addEventListener("click", function () {
        createCookie('cookie-notice-dismissed', 'true', 31);
        document.getElementById('cookie-notice').style.display = 'none';
        runCookiedCodes();
    });

    // Decline
    document.getElementById('cookie-notice-decline').addEventListener("click", function () {
        createCookie('cookie-notice-dismissed', 'true', 31);
        document.getElementById('cookie-notice').style.display = 'none';
        // Do NOT run tracking scripts
    });


    </script> -->