<!-- Google Analytics - First script  -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9M78DLKD8V"></script>


<div id="cookie-notice" style="display: none;">
  <div class="cookie-notice-inner">
    <div class="cookie-text">
      I value your privacy and to deliver the best browsing experience possible, my website uses cookies and similar tracking technologies. By approving this agreement, you automatically consent to the use of cookies.
    </div>

    <div class="cookie-buttons">
      <a id="cookie-notice-accept" class="button">Approve</a>

      <!-- <span class="button-separator">|</span> -->

      <a href="/cookie-policy.html" class="button-subtle">More info</a>
      <span class="button-separator">|</span>

      <a id="cookie-notice-decline" class="button-subtle">Decline</a>
    </div>
  </div>
</div>

<noscript>
  <div style="background: #fff; padding: 1em; text-align: center;">
    This website uses cookies, but you need to enable JavaScript to manage preferences.
  </div>
</noscript>


