<footer class="grid gradient padded-sm padded-t-5 md-padded-t-3 sm-padded-lr-2 xs-padded-3 border-t">


    <!-- column -->
    <div class="col-3_sm-6">
        <a href="/index.html">
            <img src="/assets/logos/kapaphoto-submarklogo-white.svg" class="submark-logo">
        </a>
    </div>


    <!-- column -->
    <div class="col-9_sm-12-middle footer padded-r-1">

        <p class="footer">Melbourne based photographer specialized in</p>

        <nav style="text-align:right;">
            <a href="/brandsandevents.html" class="footer sm-padded-0"> BRANDS & EVENTS </a><span class="hide-xs">|</span>
            <a href="/travelandstreet.html" class="footer sm-padded-0"> TRAVEL & STREET </a><span class="hide-xs">|</span>
            <a href="/portraitandlifestyle.html" class="footer sm-padded-0"> PORTRAIT & LIFESTYLE </a>
        </nav>

        <div class="sm-padded-tb-5 text-right margin-t-1">
            <a href="/contact.html" class="contact-button bold padded-sm">Get in touch</a>
        </div>

        <nav style="text-align:right;" class="padded-t-2">
            <a href="https://www.facebook.com/sofkapaphoto" target="_blank">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://www.instagram.com/sofkapa_photo/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </nav>

    </div>

    <div class="col-12">
        <p class="copyright"> All Rights Reserved - Copyright 2022 </p>
    </div>

</footer>