<footer class="grid-spaceBetween gradient border-t padded-sm padded-tb-3 xs-padded-5">


    <!-- column -->
    <div class="col-3_sm-3" id="footer-logo">
        <a href="/index.html">
            <img src="/assets/logos/kapaphoto-submarklogo-white.svg" class="submark-logo">
        </a>
    </div>


    <!-- column -->
    <div class="col-9_sm-8 footer" id="footer-text">

        <p class="footer">Melbourne lifestyle photographer capturing soulful stories of</p>

        <nav style="text-align:right;">
            <a href="/food.html" class="footer-link sm-padded-0"> MAKERS </a><span>|</span>
            <a href="/travel.html" class="footer-link sm-padded-0"> PLACES </a><span>|</span>
            <a href="/portrait.html" class="footer-link sm-padded-0"> PEOPLE </a>
        </nav>

        <div class="sm-padded-tb-5 text-right margin-t-1">
            <a href="/contact.html" class="subtle-button padded-sm">Get in touch</a>
        </div>

        <!-- <nav style="text-align:right;" class="padded-t-2">
            <a href="https://www.facebook.com/sofkapaphoto" target="_blank">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://www.instagram.com/sofkapa_photo/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </nav> -->

    </div>

    <div class="col-12 grid" id="footer-notice">
        <p class="col-12 copyright margin-b-0"> © 2025 Sof Kapa Photography | All images and content are copyright protected. Please do not use without permission </p>
        <a href="/privacy-policy.html" class="col-12 copyright">- Privacy Policy -</a>
    </div>

</footer>