<footer class="padded-md grid-right bg-lightgray text-right">
    <div class="col-3__md-6_sm-12-top">
            <h3>Let's <span class="featured-text">connect</span></h3>
            <p></p>
    </div>

    <div class="col-1_md-12"></div>

    <div class="col-3_md-6_sm-12-bottom">
            <p><span class="bold">call</span> <a href="tel:0472 813 028">0472 813 028</a></p>
            <p><span class="bold">email</span> <a href="mailto:hello@sofkapa.com">hello@sofkapa.com </a></p>
            <p><span class="bold">location</span> Melbourne | Naarm</p>
            <p><span class="bold">instagram</span> <a href="https://www.instagram.com/sofkapa_photo">@sofkapa_photo</a></p>
    </div>
</footer>