<div class="gallery grid padded-3 border tall-50 max-width-md">
    <div class="col-6">
        <div class="bg-image landscape"></div>
    </div>
    <div class="col-6">
        <div class="bg-image landscape"></div>
    </div>
    <div class="col-4">
        <div class="bg-image portrait"></div>
    </div>
    <div class="col-4">
        <div class="bg-image portrait"></div>
    </div>
    <div class="col-4">
        <div class="bg-image portrait"></div>
    </div>
    <div class="col-12">
        <div class="bg-image landscape"></div>
    </div>
    <div class="col-3">
        <div class="bg-image square"></div>
    </div>
    <div class="col-3">
        <div class="bg-image square"></div>
    </div>
    <div class="col-3">
        <div class="bg-image square"></div>
    </div>
    <div class="col-3">
        <div class="bg-image square"></div>
    </div>
    <div class="col-4">
        <div class="bg-image portrait"></div>
    </div>
    <div class="col-4">
        <div class="bg-image portrait"></div>
    </div>  
    <div class="col-4">
        <div class="bg-image portrait"></div>
    </div>

</div>
