<div class="gallery grid padded-1 border tall-50 max-width-md" style="margin: auto">
    <div class="col-6">
        <div class="bg-image landscape inwater"></div>
    </div>
    <div class="col-6">
        <div class="bg-image landscape towel"></div>
    </div>
    <div class="col-4">
        <div class="bg-image portrait favourite"></div>
    </div>
    <div class="col-4">
        <div class="bg-image portrait umberellas"></div>
    </div>
    <div class="col-4">
        <div class="bg-image portrait fitness"></div>
    </div>
    <div class="col-12">
        <div class="bg-image landscape reflection"></div>
    </div>
    <div class="col-3">
        <div class="bg-image square sittingtowel"></div>
    </div>
    <div class="col-3">
        <div class="bg-image square hat"></div>
    </div>
    <div class="col-3">
        <div class="bg-image square lookinghorizon"></div>
    </div>
    <div class="col-3">
        <div class="bg-image square byhouse"></div>
    </div>
    <div class="col-4">
        <div class="bg-image portrait laughinglikemom"></div>
    </div>
    <div class="col-4">
        <div class="bg-image portrait allbrown"></div>
    </div>  
    <div class="col-4">
        <div class="bg-image portrait laughingsitting"></div>
    </div>

</div>
