<header class="grid padded-2 padded-b-5">  

  <div class="col-3_md-7_xs-9 left">
    <a href="/index.html"> <img alt="sof kapa logo" class="secondary-logo" src="/assets/logos/kapaphoto-seclogo-featured.svg"></a>
  </div>

  <nav>

    <div class="burger-button">
        <span class="burger-top"></span>
        <span class="burger-middle"></span>
        <span class="burger-bottom"></span>
    </div>

    <div class="burger-menu">
        <a href="/index.html" class="link">home</a>

        <div class="dropdown">
          <span class="dropdown-title">services</span>
          <div class="dropdown-content">
            <a href="/brandsandevents.html" class="dropdown-link">brands & events</a>
            <a href="/travelandstreet.html" class="dropdown-link">travel & street</a>
            <a href="/portraitandlifestyle.html" class="dropdown-link">portrait & lifestyle</a>
          </div>
        </div>
        <a href="/packages.html" class="link">packages</a>  
        <a href="/about.html" class="link">your photographer</a>       
        <a href="/packages.html" class="link">contact</a>   
    </div>

  </nav>

</header>
