<header class="grid padded-2 padded-b-5">  

  <div class="col-3_md-7_xs-9 left">
    <a href="/index.html"> <img alt="sof kapa logo" class="logo-1" src="/assets/logos/kapaphoto-seclogo-featured.svg"></a>
  </div>

  <nav>

    <div class="burger-button">
        <span class="burger-top"></span>
        <span class="burger-middle"></span>
        <span class="burger-bottom"></span>
    </div>

    <div class="burger-menu">
        <a href="/index.html" class="link">home</a>
        <a href="/brandsandevents.html" class="link">brands & events</a>
        <a href="/travelandstreet.html" class="link">travel & street</a>
        <a href="/portraitandlifestyle.html" class="link">portrait & lifestyle</a>
        <a href="/contact.html" class="link">contact</a>
    </div>

  </nav>

</header>


<!-- <header class="padded-r-2 padded-l-1 padded-t-1 padded-b-2 xs-padded-5 xs-padded-b-0 grid-middle"> -->

        
        <!-- LOGO ON LEFT-->
        <!-- <div class="col-5_md-7">
            <a href="/index.html">
                <img src="/assets/logo1.jpg" class="logo">
            </a>
        </div> -->

        
        <!-- <div class="col-3_xs-2_xxs-1 show-md"></div> -->
    
        <!-- FULL MENU / BIG SCREENS -->
   
        <!-- <div class="col-7_sm-12 hide-md right">
            <nav>
                <a href="/index.html">home</a>
        
                <div class="dropdown">
                <span class="dropdown-title">Portfolio</span>
                <div class="dropdown-content">
                    <a href="/brandsandevents.html">brands & events</a>
                    <a href="/travelandstreet.html">travel & street</a>
                    <a href="/portraitandlifestyle.html">portrait & lifestyle</a>
                </div>  
                </div> 

                <a href="/contact.html">contact</a>
            </nav>  
        </div> -->
    
        <!-- HAMBURGER BUTTON ON SMALL SCREEN -->
        <!-- <div class="col-7_md-2_xs-3 show-md">
            <div class="hamburger-button">
                <i class="fa-solid fa-bars gray"></i>
            </div>
        </div> -->

        <!-- DROPDOWN MENU ON SMALL SCREEN WHEN WE CLICK ON HAMBURGER -->
        <!-- <div class="mobile-menu">


            <nav class="grid">

                <div class="col-5_md-7">
                    <a href="/index.html">
                        <img src="/assets/logo1.jpg" class="logo">
                    </a>
                </div>
        
                <div class="col-4_md-3_xs-2_xxs-1 show-md"></div>
    
                <div class="col-7_md-2_xs-3 show-md">
                    <div class="hamburger-button">
                        <i class="fa-solid fa-bars gray"></i>
                    </div>
                </div>

                <div class="col-12 padded-t-3">
                    <a href="/index.html" class="link">home</a>
                    <a href="/brandsandevents.html" class="link">brands & events</a>
                    <a href="/travelandstreet.html" class="link">travel & street</a>
                    <a href="/portraitandlifestyle.html" class="link">portrait & lifestyle</a>
                    <a href="/contact.html" class="link">contact</a>
                </div>

            </nav>
        </div>



</header> -->