<!-- Rolling banner ------------------------------------------------------------------------------>
<section class="gradient flex content-center items-center flex relative overflow-hidden border-b">

    <div class="flex items-center justify-start whitespace-nowrap">
    
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
          <img src="/assets/logos/favicon-white-stroke.svg">
          <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
          <img src="/assets/logos/favicon-white-stroke.svg">
          <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
          <img src="/assets/logos/favicon-white-stroke.svg">
          <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
  
        <div class="scroll-banner">
            <img src="/assets/logos/favicon-white-stroke.svg">
            <span class="scroll-text"> Tranforming your vision into reality starts here!</span> 
        </div>
    
    </div>
  
</section>
  
  