---
layout: default
---



<!-- BANNER SECTION -------------------------------------------------------------------->
<section class="grid bg-overlay bg-overlay-gradient" style="background-image: url({{page.banner}})">
  <div class="col-12-middle">
    <h2 class="text-center title-white"> {{ page.title }} </h2> 
    <p class="text-center special-text"> {{ page.description }} </p>
  </div>
</section>
  

<div class="gallery grid max-width-md" id="lightgallery">
  {% for item in page.gallery %}

    <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
      <div class="bg-image {{item.aspect-ratio}}" 
          style="background-image: url('{{item.background_image}}');">
      </div>
    </a> 

  {% endfor %}
</div>





<!--------------- Gallery ------------------->
<section class="padded-tb-5">

  <div class="gallery grid max-width-md" id="lightgallery">
      {% for item in page.gallery %}
    
        <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
          <div class="bg-image {{item.aspect-ratio}}" 
              style="background-image: url('{{item.background_image}}');">
          </div>
        </a> 
    
      {% endfor %}
    </div>

</section>

