<!DOCTYPE html>
<html>


<!-- This is the head - External Links & Ressources ---------->
<head>
<title>Sof Kapa Photography</title>

<!-- Fontawesome Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Grid Stylesheet -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
<!-- Google Fonts -->
<!-- CSS Stylesheet - always last -->
<link rel="stylesheet" href="/style.css">

</head>


<!-- This is the body -->
<body>

<!-- HEADER ---------------------------------------------------------------------------->
<header class="padded-t-3 padded-l-3 padded-b-8 grid tall-50">
    <div class="col-12-middle">        
        <h2 class="text-left">SOF KAPA</h2>
        <div class="grid-right">
            <h1 class="text-left col-9">photography</h1>
        </div>
    </div>

    <!-- <div class="hamburger-button">MENU</div>
    <div class="mobile-menu"> 
        <nav>
            <a href="http://#">home</a>
            <a href="http://#">brands & events</a>
            <a href="http://#">travel & street</a>
            <a href="http://#">portrait & lifestyle</a>
            <a href="http://#">contact</a>
        </nav>
    </div> -->

</header>


<!-- CONTENT --------------------------------------------------------------------------->
{{content}}


<!-- FOOTER ---------------------------------------------------------------------------->
<footer class="padded-md grid-right bg-black text-right">
    <div class="col-3-bottom">
            <h3>Let's <span class="featured-text">connect</span></h3>
            <p></p>
    </div>
    <div class="col-3-bottom">
            <p><span class="bold">call</span> <a href="tel:0472 813 028">0472 813 028</a></p>
            <p><span class="bold">email</span> <a href="mailto:hello@sofkapa.com">hello@sofkapa.com </a></p>
            <p><span class="bold">location</span> Melbourne | Naarm</p>
            <p><span class="bold">instagram</span> <a href="https://www.instagram.com/sofkapa_photo">@sofkapa_photo</a></p>
    </div>
</footer>


</body>


</html>