<!DOCTYPE html>
<html>


<!-- This is the head - External Links & Ressources ---------->
<head>
<title>Sof Kapa Photography</title>

<!-- Fontawesome Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Grid Stylesheet -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

<!-- Google Fonts -->

<!-- Lightgallery for pop-up galleries -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/css/lightgallery-bundle.min.css" integrity="sha512-7xAjdVc23n18sYEAZKa79271IRUS1XzylIyJ8feyXvjrbbr4oId92993EiGTAP63Ob6KplRnmbNmBOg6bpLjYw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Animate on scroll -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<!-- CSS Stylesheet - always last -->
<link rel="stylesheet" href="/style.css">

</head>


<!-- This is the body -->
<body>

<!-- HEADER ---------------------------------------------------------------------------->
<header class="padded-r-2 padded-l-1 padded-t-2">

    <div class="grid-middle">
        
        <div class="col-5_sm-11">
            <img src="/assets/logo1.jpg" class="logo">
        </div>
    
        <nav class="col-7_sm-12 hide-sm right" style="padding: 0rem 0rem 7rem 1rem;">
            <a href="/index.html">home</a>
            <a href="/index.html#about">about</a>
    
            <div class="dropdown">
              <span class="dropdown-title">Portfolio</span>
              <div class="dropdown-content">
                <a href="/brandsandevents.html">brands & events</a>
                <a href="/travelandstreet.html">travel & street</a>
                <a href="/portraitandlifestyle.html">portrait & lifestyle</a>
              </div>  
            </div> 

            <a href="/project-gallery.html">gallery</a>
            <a href="/contact.html">contact</a>
        </nav>
    
        <div class="col-1 show-sm">
            <div class="hamburger-button">
                <i class="fa-solid fa-bars gray"></i>
            </div>
        </div>

    </div>

 
    <nav class="mobile-menu"> 
        <a href="/index.html">home</a>
        <a href="#about">about</a>
    
        <div class="dropdown">
            <span class="dropdown-title">Portfolio</span>
            <div class="dropdown-content">
            <a href="/brandsandevents.html">brands & events</a>
            <a href="/travelandstreet.html">travel & street</a>
            <a href="/portraitandlifestyle.html">portrait & lifestyle</a>
            </div>  
        </div> 

        <a href="/project-gallery.html">gallery</a>
        <a href="/contact.html">contact</a>
    </nav>


</header>


<!-- CONTENT --------------------------------------------------------------------------->
{{content}}


<!-- FOOTER ---------------------------------------------------------------------------->
<footer class="padded-md grid-right bg-gray text-right">
    <div class="col-3-bottom">
            <h3>Let's <span class="featured-text">connect</span></h3>
            <p></p>
    </div>
    <div class="col-3-bottom">
            <p><span class="bold">call</span> <a href="tel:0472 813 028">0472 813 028</a></p>
            <p><span class="bold">email</span> <a href="mailto:hello@sofkapa.com">hello@sofkapa.com </a></p>
            <p><span class="bold">location</span> Melbourne | Naarm</p>
            <p><span class="bold">instagram</span> <a href="https://www.instagram.com/sofkapa_photo">@sofkapa_photo</a></p>
    </div>
</footer>


<!-- JQUERY ---------------------------------------------------------------------------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<!-- Lightgallery for pop-ups  --------------------------------------------------------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.min.js"></script>

<!-- ANIMATE ON SCROLL ----------------------------------------------------------------->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


<!-- CUSTOM JAVASCRIPT FILE ------------------------------------------------------------>
<script src="/scripts.js"></script>

</body>


</html>