<!DOCTYPE html>
<html class="{% if page.categories contains 'hidden_gallery' %}gallery-page{% endif %}">


<head>
    
<!-- This is the head - External Links & Ressources ---------->
{% include head.html %}
    
</head>




<!-- This is the body -->
<body class="{% if page.categories contains 'hidden_gallery' %}gallery-page{% endif %}">

{% include cookie-banner.html %} 

<!-- Custom cursor -->

<div class="custom-cursor"></div>


<!-- HEADER ---------------------------------------------------------------------------->
{% include header.html %}


<!-- CONTENT --------------------------------------------------------------------------->
{{content}}


<!-- FOOTER ---------------------------------------------------------------------------->
{% include footer.html %}


<!-- SCRIPTS ---------------------------------------------------------------------------->
{% include scripts.html %}


</body>


</html>