---
layout: default
---



<!-- Trial new layout ---------------------------------------->
 
<p class="sticky featured-text-bold gradient border-b" style="font-family: 'mansory', open sans;"> {{ page.categories | join: ' | ' }} </p>

<section class="grid tall-100 border-b padded-b-3">


  <!-- description and project title ----------------------------------->

  <div class="col-5 sticky" style="padding: 2rem;">

    <h1 class="lg-text uppercase white  text-right text-underline padded-t-3 padded-b-4">{{ page.title }}</h1>
    <p class="project-description text-right padded-b-2 border-b"> {{ page.description }} </p>
    <p class="handwritten-text padded-t-1" style="text-align: right;"> - {{ page.location }} </p>

  </div>
        
   
  <!-- Gallery of photos ----------------------------------------------->

  <div class="col-7 gallery grid" id="lightgallery" style="padding: 2rem;">

    {% for item in page.gallery %}
    
    <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
      <div class="bg-image {{item.aspect-ratio}}" 
          style="background-image: url('{{item.background_image}}'); border-radius: 25px; border: 2px solid var(--kapa-featured);" alt="{{item.alt}}";>
      </div>
    </a> 

    {% endfor %}

  </div>

</section>



<!-------------- Related Posts --------------->

{% include related-posts.html %}



