---
layout: default
---



<!-- Trial new layout ---------------------------------------->
<section class="grid md:grid-cols-12 grid-cols-1 lg:pb-0">
  <div class="relative col-span-4 flex flex-col justify-between md:sticky md:top-0 md:h-screen min-h-[100vh] md:pb-0 md:pt-12 lg:px-8 px-[5%] pt-12 pb-4 border-r border-b border-black">

      <!-- description and project title -->
    
      <div class="col-6_md-7_sm-12-middle relative padded-md border-r">
    
        <h1 class="lg-text text-right text-underline">{{ page.title }}</h1>
    
        <p class="project-description text-right"> {{ page.description }} </p>
        <p class="handwritten-text padded-t-1" style="text-align: right;"> - {{ page.location }} </p>
    
      </div>
        
      <div class="">
        

        <div class="flex justify-between mt-8 my-4  hidden md:flex">
        
        <a href="https://karenkoramshai.com/" target="_blank" class="uppercase"> the Live Site </a>
        
        <a href="/work" class="link  uppercase "> More work </a>
        </div>

      </div>
  </div>
   
  <div class="md:col-span-8 grid lg:grid-cols-2">

    
    <video class="video-player bg-center bg-cover col-span-full" playsinline="" style="object-fit: cover; object-position: center;" muted="" autobuffer="true" autoplay="true" loop="" poster="/images/work/klioh-studio-london-design-agency-luxury-wellness-karen-koramshai-cover-14.jpg">
    <source src="/videos/klioh-studio-london-design-agency-luxury-wellness-karen-koramshai-cover-17.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  


 
 <!-- <div class="col-span-full mb-12 lg:mb-24 p-4">
    <p class="font-serif text-6xl"> " </p>
    <h3 class="title-sm  mt-2 mb-2">""</h3>
    <h5 class="font-serif text-sm font-light">  </h5>
  </div> -->

    
    <img src="/images/klioh-studio-london-design-agency-luxury-wellness-karen-koramshai-16.jpg" alt="" class="col-span-full  object-cover w-full object-center">
    
    <img src="/images/klioh-studio-london-website-design-karen-koramshai1.png" alt="" class="col-span-full  object-cover w-full object-center">
    
    <img src="/images/klioh-studio-london-website-design-karen-koramshai2.png" alt="" class="col-span-full  object-cover w-full object-center">
    
  </div>
</section>













<!--------------- Header Banner ------------------->



<section class="grid border-b">
    
  <div class="col-6_md-5_sm-12 border-r">
    <div class="bg-image square gallery-banner" style="background-image: url({{page.featured_image}})"></div>  
  </div>

  <div class="col-6_md-7_sm-12-middle relative padded-md">

    <h1 class="lg-text text-right text-underline">{{ page.title }}</h1>

    <p class="project-description text-right"> {{ page.description }} </p>
    <p class="handwritten-text padded-t-1" style="text-align: right;"> - {{ page.location }} </p>

  </div>

</section>

<p class="featured-text-bold gradient border-b margin-b-0" style="font-family: 'mansory', open sans;"> {{ page.categories | join: ' | ' }} </p>
  

<!--------------- Gallery ------------------->
<section class="padded-tb-5">

  <div class="gallery grid max-width-lg sm-padded-lr-1" id="lightgallery">
      {% for item in page.gallery %}
    
        <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
          <div class="bg-image {{item.aspect-ratio}}" 
              style="background-image: url('{{item.background_image}}'); border-radius: 25px; border: 2px solid var(--kapa-featured);" alt="{{item.alt}}";>
          </div>
        </a> 
    
      {% endfor %}
    </div>

</section>


<!--------------- Social Share  ------------->

<!-- <section class="padded-1">

{% include social-share.html %}

</section> -->


<!-------------- Related Posts --------------->

{% include related-posts.html %}



