---
layout: default
---



<!-- Gallery Section -->
<section class="tall-100 border-b padded-b-3" id="gallery-section">

  <!-- Sticky top banner labels -->
  <p class="sticky featured-text-bold gradient border-b gallery-banner">
    {{ page.categories | join: ' | ' }}
  </p>


  <div class="grid">

    <!-- description and project title ----------------------------------->

    <div class="col-5_sm-12 sticky sm-no-sticky" id="project-description">

      <h1 class="underline">{{ page.title }}</h1>
      <p class="summary border-b"> {{ page.description }} </p>
      <p class="location handwritten-text-featured"> - {{ page.location }} </p>

    </div>
          
    
    <!-- Gallery of photos ----------------------------------------------->

    <div class="col-7_sm-12 gallery grid" id="lightgallery">

      {% for item in page.gallery %}
      
      <a 
      class="{{item.column-size}} gallery-item"
      href="{{item.background_image}}"
      data-thumb="{{ item.thumbnail | default: item.background_image }}"
      data-sub-html="{{ item.alt }}"
      >
        <div class="bg-image {{item.aspect-ratio}}" 
            style="background-image: url('{{item.background_image}}'); background-position: {{ item.bg_img-position | default: 'center' }}; border: 2px solid var(--kapa-featured);" alt="{{item.alt}}";>
        </div>
      </a> 

      {% endfor %}

    </div>

  </div>



</section>


<!-- Return to main gallery button ----------------------------------->

<section class="bg-kapablue flex flex-container content-center">

  <div class="padded-sm">
    <a href="{{page.main_category_url}}" class="basic-button">Back to {{ page.main_category }} gallery</a>
  </div>

</section>





